<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      class="light-blue lighten-4"
    >
      <v-list
       dense
       >
      <v-list-item>
        <v-list-item-avatar
          class="align-self-center"
          color="white"
          contain
        >
          <v-img
            src="@/assets/tnilogo.png"
            max-height="40"
          />
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title
            class="display-0"
            ><h2> TNI </h2></v-list-item-title>
        </v-list-item-content>
      </v-list-item>
       <v-divider class="mb-2" />
        <v-list-item
        router-link
         to="/login"
         >
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mb-1" />
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mb-1" />
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-account</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Users</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mb-1" />
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-clipboard-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Distributors</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mb-1" />
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-human-male-male</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Teams</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mb-1" />
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-file-download</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Download</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mb-1" />
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-format-font</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Translation</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mb-1" />
        <v-list-item
        router-link
         to="/teamlang"
        >
          <v-list-item-action>
            <v-icon>mdi-format-font</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Languages</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mb-1" />
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="indigo"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Team Lead Dashboard</v-toolbar-title>
    </v-app-bar>
    <v-divider class="mb-1" />

    <v-content>
      <h4> Welcome, {{ getUsername }}</h4>
      <chart-card />
      <chart-card2 />
      <sales-card />
    </v-content>
    <v-footer
      color="indigo"
      app
      align="center"
    >
      <span
       align="center"
       class="white--text text-center"
       >&copy;{{ new Date().getFullYear() }} Translators Network International </span>
    </v-footer>
  </v-app>
</template>

<script>
  import login from '@/store/modules/login'
  export default {
    name: 'dashboard1',
    components: {
      ChartCard: () => import('@/dashboard1/components/ChartCard'),
      ChartCard2: () => import('@/dashboard1/components/ChartCard2'),
      SalesCard: () => import('@/dashboard1/components/SalesCard'),
    },
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
    }),
    computed: {
      getUsername: () => {
        return login.state.username
      },
    },
  }
</script>
