<template>
  <v-app id="inspire">
  <mdb-navbar
     color="'secondary'"
      position="top"
       dark
        href="#"
        >
      <mdb-container>
        <mdb-navbar-toggler style="max-width: 1140px">
          <mdb-navbar-brand href="#"><img
           class="img-fluid"
           style="width: 70px"
           src="@/assets/tnilogo.png"
            alt="nav-brand"
            ><strong>TNI</strong></mdb-navbar-brand>
          <mdb-navbar-nav id="nav">
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             active
             >HOME</mdb-nav-item>
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             >ABOUT US</mdb-nav-item>
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             >GALERY</mdb-nav-item>
            <mdb-nav-item
             router-link
              to="/"
              waves-fixed
             >TESTIMONIALS</mdb-nav-item>
          </mdb-navbar-nav>
          <!--Search form -->
          <!--/.Search form -->
        </mdb-navbar-toggler>
      </mdb-container>
    </mdb-navbar>
    <v-content>
      <v-container
        style="margin-top: 80px"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="purple"
                dark
                flat
              >
                <v-toolbar-title>ADMIN UPLOADS ONLY</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <span>Source</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <div
                 v-if= serverError
                 class= "text-danger text-center center"
                  >
                 {{ errorMsg }}
               </div>
                <v-form>
                  <select v-model="selected">
                    <option
                     disabled
                      value=""
                      >Select a Country</option>
                    <option>Afghanistan</option>
                    <option>Albania</option>
                    <option>Algeria</option>
                    <option>Andorra</option>
                    <option>Angola</option>
                  </select>
                  <br>
                  <br>
                  <span>{{ selected }}</span>
                  <v-text-field
                    id="langauge"
                    label="Language"
                    v-model="language"
                    name="Language"
                  ></v-text-field>
                     <v-text-field
                       id="month"
                       label="Month"
                       v-model="month"
                       name="Month"
                     ></v-text-field>
                     <v-text-field
                       id="year"
                       label="Year"
                       v-model="year"
                       name="Year"
                     ></v-text-field>
                     <v-text-field
                       id="fileName"
                       label="fileName"
                       v-model="fileName"
                       name="fileName"
                     ></v-text-field>
                     <v-text-field
                       id="dataURL"
                       label="dataURL"
                       v-model="dataURL"
                       name="dataURL"
                     ></v-text-field>
                     <v-text-field
                       id="ddateCreated"
                       label="dateCreated"
                       v-model="dateCreated"
                       name="dateCreated"
                     ></v-text-field>
                     <v-file-input
                       id="docType"
                       label="docType"
                       v-model="docType"
                       name="docType"
                     ></v-file-input>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                type="submit"
                value="send"
                color="info"
                @click="upload"
                 >
                 UPLOAD</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        selected: '',
      }
    },
    computed: {

    },
    methods: {

    },
  }

</script>
<style scoped>
.navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px),(max-width: 360px){
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
    max-width: 100px;
  }
    .items.carousel{
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media{
    background: aquamarine;
  }
  .items.carousel{
   height: 200;
 }
</style>
