<template>
  <v-app id="inspire">
  <mdb-navbar
     color="'secondary'"
      position="top"
       dark
        href="#"
        >
      <mdb-container>
        <mdb-navbar-toggler style="max-width: 1140px">
          <mdb-navbar-brand href="#"><img
           class="img-fluid"
           style="width: 70px"
           src="@/assets/tnilogo.png"
            alt="nav-brand"
            ><strong>TNI</strong></mdb-navbar-brand>
          <mdb-navbar-nav id="nav">
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             active
             >HOME</mdb-nav-item>
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             >ABOUT US</mdb-nav-item>
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             >GALERRY</mdb-nav-item>
            <mdb-nav-item
             router-link
              to="/"
              waves-fixed
             >TESTIMONIES</mdb-nav-item>
          </mdb-navbar-nav>
          <!--Search form -->
          <!--/.Search form -->
        </mdb-navbar-toggler>
      </mdb-container>
    </mdb-navbar>
    <v-main>
      <v-container
        style="margin-top: 60px"
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card
            v-if = errorToggle
            class="elevation-12"
            >
              <v-toolbar
                color="danger"
                dark
                flat
              >
                <v-toolbar-title>Error</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <span>Source</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
               <h5> your E-mail could not be verified </h5>
               <p>Try again...</p>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
            <v-card

            v-if = successToggle
             >
              <v-toolbar
                color="info"
                dark
                flat
              >
                <v-toolbar-title>Complete Your Distributor Profile</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <span>Source</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <div class='text-center text-primary font-weight-bold'>Invited By: {{name}}</div>
                <v-form>
                  <br>
                  <v-text-field
                    id="username"
                    label="Full NAme"
                    v-model="username"
                    prepend-icon="mdi-account"
                    type="text"
                  ></v-text-field>

                  <v-text-field
                    id="email"
                    v-model="email"
                    label="email"
                    name="email"
                    prepend-icon="mdi-email"
                    type="text"
                  ></v-text-field>
                  <v-text-field
                    id="phoneNumber"
                    v-model="phoneNumber"
                    label="phoneNumber"
                    name="phoneNumber"
                    prepend-icon="mdi-email"
                    type="text"
                  ></v-text-field>
                  <v-text-field
                    id="password"
                    v-model="password"
                    label="password"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                  ></v-text-field>
                  <v-text-field
                    id="confirm password"
                    v-model="confirmPassword"
                    label="confirmPassword"
                    name="confirmPassword"
                    prepend-icon="mdi-lock"
                    type="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                type="submit"
                value="send"
                color="info"
                @click="acceptInvite"
                :disabled="resetReg"
                 >
                 <b-spinner
                 v-if = "resetReg === true"
                  variant="info"
                   label="Spinning"
                   ></b-spinner>
                   <span
                    class="sr-only"
                   v-if = "resetReg === true"
                   > wait...</span>
                 Save</v-btn>

              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  import router from '@/router.js'
  export default {
    props: [
      'query',
    ],
    data () {
      return {
        confirmPassword: '',
        password: '',
        username: '',
        phoneNumber: '',
        email: '',
        resetReg: false,
        spinner: 0,
        successToggle: true,
        errorToggle: false,
      }
    },

    beforeMount () {
      this.fetchDistributor()
    },
    methods: {
      async register () {
        const form = {
          username: this.teamLeaderName,
          email: this.email,
          password: this.password,
        }
        this.axios.post(this.baseUrl + '/api/auth/create', form)
          .then(res => {
            if (res.data) {
              router.push('/login')
            }
          })
      },
      acceptInvite () {
        if (!this.username) {
          alert('Full Name is required')
          return false
        }
        if (!this.phoneNumber) {
          alert('phoneNumber is required')
          return false
        }
        if (!this.email) {
          alert('email is required')
          return false
        }
        if (!this.password) {
          alert('password is required')
          return false
        }
        if (!this.confirmPassword) {
          alert('please confirm password')
          return false
        }
        if (this.password !== this.confirmPassword) {
          alert('passwords does not match')
          return false
        }
        const verifydata = {
          username: this.username,
          phoneNumber: this.phoneNumber,
          email: this.email,
          password: this.password,
        }
        const self = this
        // console.log(verifydata)
        self.resetReg = !self.resetReg
        this.axios.put(this.baseUrl + '/api/distributor/' + this.query, verifydata)
          .then(res => {
            self.register()
          })
          .catch(error => (error))
      },
      fetchDistribution () {
        const self = this
        this.axios.get(this.baseUrl + '/api/distribution/' + this.query)
          .then(response => {
            // console.log(JSON.stringify(response))
            // JSON responses are automatically parsed.
            self.username = response.data.username
            self.phoneNumber = response.data.phoneNumber
            self.email = response.data.email
          })
          .catch(e => {
            self.errors.push(e)
          })
      },
    },
  }
</script>
<style scoped>
.navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px),(max-width: 360px){
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
    max-width: 100px;
  }
    .items.carousel{
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media{
    background: aquamarine;
  }
  .items.carousel{
   height: 200;
 }

</style>
