<template>
  <v-app id="inspire">

    <v-container>
      <div id="search_bar">
 </div>
      <div>
      <b-modal
       ref="my-modal"
        hide-footer
         title="Downloading ROR..."
         variant="outline-success"
         >
        <div class="d-block text-center">
          <h3>THANK YOU FOR DOWNLOADING ROR</h3>
          <h5>Download Could Take A  While</h5>
          <h5>Please Wait...</h5>
        </div>
      </b-modal>
    </div>
    <v-row>
      <v-col
      cols="12"
       lg="3"
       v-for="translation in translations"
         :key="translation.id"
        >
    <v-card
    class="mt-4 mx-auto grey lighten-3 align-items-center"
    max-width="500"
    color="primary"
    >
            <v-img
              height="100"
              width="100"
              src="@/assets/ror.jpeg"
            ></v-img>
            <v-card-text class="pt-">

            <div>
              <strong>{{translation.language}}</strong>
            </div>
            <v-divider class="my-2"></v-divider>
            <div>
              {{translation.month}}
            </div>
            <v-divider class="my-2"></v-divider>
            <div>
              {{translation.year}}
            </div>
            <div>
            </div>
            <v-divider class="my-2"></v-divider>
            <b-btn
            type="submit"
            value="send"
            variant="primary"
             @click="getTranslation({data: translation})"
             :disabled="resetDownload"
               >
               <b-spinner
               v-if = "resetDownload === true"
                variant="info"
                 label="Spinning"
                 ></b-spinner>
                 <span
                  class="sr-only"
                 v-if = "resetDownload === true"
                 > wait...</span>
               DOWNLOAD</b-btn>
               </v-card-text>
    </v-card>
      </v-col>
    </v-row>
    </v-container>
  </v-app>
</template>

<script>
  import router from '@/router'
  export default {
    props: [
      'query',
      ['translationData'],
    ],
    data () {
      return {
        resetDownload: false,
        spinner: 0,
        link: '',
        search: '',
        translations: [],
        columns: [
          {
            label: 'Language',
            field: 'language',
          },
          {
            label: 'Month',
            field: 'month',
          },
          {
            label: 'Year',
            field: 'year',
          },
          {
            label: 'DocType',
            field: 'docType',
          },
          {
            label: 'FileNAme',
            field: 'fileName',
          },
          {
            label: 'DataUrl',
            field: 'dataURL',
          },
          {
            label: 'DateCreated',
            field: 'dateCreated',
          },
          {
            label: 'Action',
            field: 'btn',
            html: true,
          },
        ],
        rows: [],
        errors: [],
        dataSet: {
          language: '',
          month: '',
          year: '',
          docType: '',
          fileName: '',
          dataURL: '',
          dateCreated: '',
        },
      }
    },
    computed: {
      processDataTable () {
        if (this.translations) {
          for (var i = 0; i < this.translations.length; i++) {
            // eslint-disable-next-line vue/no-side-effects-in-computed-properties
            this.translations[i].btn = '<button  class="primary" style="color: #ffffff;">Manage</button>'
          }
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.rows = this.translations
        }
        return this.rows
      },
      filteredTranslation () {
        return this.translations.filter(translation => {
          return translation.language.toLowerCase().indexOf(this.search.toLowerCase()) > -1
        })
      },
    },
    mounted () {
      this.handleDownloads()
      this.getTranslationDetail()
      this.showModal()
      this.getDataURL()
    },
    beforeMount () {
      this.fetchTranslation()
    },
    methods: {
      handleDownloads () {
        var pathname = window.location.pathname
        pathname = pathname.split('/')
        // var fileName = this.query.split('/')
        const distLink = pathname[3]
        // console.log(fileName[4])
        // console.log(pathname[3])
        // /5f5263c028384c11c592ed7f
        // dataURL": "/public/media/pdf/August 2020 Kanum Inner.pdf
        // console.log(this.query)
        const distributor = {
          distributions: this.query,
        }
        // console.log(this.baseUrl + '/api/distributor/' + distLink)
        this.axios.put(this.baseUrl + '/api/distributor/update-share/' + distLink, distributor)
          .then(response => {
            // console.log(response.data)
            // JSON responses are automatically parsed.
          })
      },
      triggerDownload (link, fileName) {
        this.axios.get(this.baseUrl + link, { responseType: 'blob' })
          .then((response) => {
            var fileURL = window.URL.createObjectURL(new Blob([response.data]))
            var fileLink = document.createElement('a')
            fileLink.href = fileURL
            fileLink.setAttribute('download', fileName)
            document.body.appendChild(fileLink)
            fileLink.click()
            this.makeToast('success')
            setTimeout(function () {
              router.push('/downloader')
              this.hideModal()
            }, 5000)
          })
      },
      getTranslationDetail () {
        const self = this
        this.axios.get(this.baseUrl + '/api/translation/' + this.query)
          .then(response => {
            self.handleDownloads()
            self.triggerDownload(response.data.dataURL, response.data.fileName)
            // console.log(JSON.stringify(response.data))
            // JSON responses are automatically parsed.
            // self.$store.commit('setTransUrl', response.data.dataURL)
          })
          .catch(e => {
            self.errors.push(e)
          })
      },
      makeToast (variant = null) {
        this.$bvToast.toast('Download was Successful', {
          title: `Download ${variant || 'success'}`,
          variant: variant,
          solid: true,
        })
      },
      fetchTranslation () {
        const self = this
        this.axios.get(this.baseUrl + '/api/translation')
          .then(response => {
            // console.log(JSON.stringify(response))
            // JSON responses are automatically parsed.
            self.translations = response.data
            return self.translations
          })
          .catch(e => {
            self.errors.push(e)
          })
      },
      getTranslation: (translation) => {
        var pathname = window.location.pathname
        pathname = pathname.split('/')
        // var fileName = this.query.split('/')
        const distLink = pathname[3]
        // console.log(pathname[3])
        // /5f5263c028384c11c592ed7f
        // dataURL": "/public/media/pdf/August 2020 Kanum Inner.pdf
        // console.log(this.query)
        // const self = this
        const distributor = {
          distributions: translation.data.id,
        }
        const self = this
        self.triggerDownload(translation.data.dataURL, translation.data.fileName)
        self.resetDownload = !self.resetDownload
        this.axios.put(this.baseUrl + '/api/distributor/update-share/' + distLink, distributor)
          .then(response => {
            if (response.data) {
              self.resetDownload = !self.resetDownload
              self.triggerDownload(translation.data.dataURL, translation.data.fileName)
            }
          // JSON responses are automatically parsed.
          }).catch(e => {
            self.resetDownload = !self.resetDownload
            self.errors.push(e)
          })
      },
      showModal () {
        this.$refs['my-modal'].show()
      },
      hideModal () {
        this.$refs['my-modal'].hide()
      },
    },
  }
</script>
<style scoped>
.navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px),(max-width: 360px){
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
    max-width: 100px;
  }
    .items.carousel{
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media{
    background: aquamarine;
  }
  .items.carousel{
   height: 200;
 }

</style>
