<template>
  <v-app>
    <nav-bar />
    <br>
    <br>
    <carousel />
    <wrapper />
    <cascade />
    <card-deck />
    <testimonial />
    <jumbotron />
    <contact />
    <bottom />
  </v-app>
</template>

<script>
  export default {
    name: 'Home',

    components: {
      NavBar: () => import('@/components/NavBar'),
      Carousel: () => import('@/components/Carousel'),
      Wrapper: () => import('@/components/Wrapper'),
      CardDeck: () => import('@/components/CardDeck'),
      Testimonial: () => import('@/components/Testimonial'),
      Jumbotron: () => import('@/components/Jumbotron'),
      Contact: () => import('@/components/Contact'),
      Bottom: () => import('@/components/Footer'),
      Cascade: () => import('@/components/Cascade'),

    },

  }
</script>

<style>

</style>
