<template>
  <v-app id="inspire">
    <mdb-navbar
       color="'secondary'"
        position="top"
         dark
          href="#"
          >
        <mdb-container>
          <mdb-navbar-toggler style="max-width: 1140px">
            <mdb-navbar-brand href="#"><img
             class="img-fluid"
             style="width: 70px"
             src="@/assets/tnilogo.png"
              alt="nav-brand"
              ><strong>TNI</strong></mdb-navbar-brand>
            <mdb-navbar-nav id="nav">
              <mdb-nav-item
               router-link
                to="/"
               waves-fixed
               active
               >HOME</mdb-nav-item>
              <mdb-nav-item
               router-link
                to="/"
               waves-fixed
               >ABOUT US</mdb-nav-item>
              <mdb-nav-item
               router-link
                to="/"
               waves-fixed
               >GALERRY</mdb-nav-item>
              <mdb-nav-item
               router-link
                to="/"
                waves-fixed
               >TESTIMONIES</mdb-nav-item>
            </mdb-navbar-nav>
            <!--Search form -->
            <!--/.Search form -->
          </mdb-navbar-toggler>
        </mdb-container>
      </mdb-navbar>

    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card
            id=""
             class="elevation-12"
             >
              <v-toolbar
                color="success"
                dark
                flat
              >
                <v-toolbar-title>LOGIN </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <span>Source</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <div
                 v-if= serverError
                 class= "text-danger text-center center"
                  >
                 {{ errorMsg }}
               </div>
                <v-form>
                  <v-text-field
                    label="email"
                    placeholder="email"
                    v-model="email"
                    name="email"
                    prepend-icon="mdi-email"
                    type="text"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    placeholder="password"
                    v-model="password"
                    label="password"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                 color="success"
                 @click="login"
                 :disabled="resetLogin"
                 >
                 <b-spinner
                 v-if = "resetLogin === true"
                  variant="info"
                   label="Spinning"
                   ></b-spinner>
                   <span
                    class="sr-only"
                   v-if = "resetLogin === true"
                   > wait...</span>
                 Login</v-btn>
              </v-card-actions>
      <!-- Sign in button -->
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  import login from '@/store/modules/login'
  import router from '@/router'
  export default {
    data () {
      return {
        password: null,
        token: '',
        userRole: [],
        serverError: false,
        errorMsg: '',
        resetLogin: false,
        spinner: 0,
      }
    },
    computed: {
      email: {
        get () {
          return login.state.email
        },
        set (value) {
          this.$store.commit('setEmail', value)
        },
      },
    },

    mounted () {
      if (localStorage.username) {
        this.username = localStorage.username
      }
    },

    methods: {
      login () {
        if (login.state.email === '') {
          alert('email is required')
          return false
        }
        if (!this.password) {
          alert('password is required')
          return false
        }
        const formData = {
          email: login.state.email,
          password: this.password,
        }
        const self = this
        self.resetLogin = !self.resetLogin
        // console.log(formData)
        // this.$store.commit('login', formData)
        this.axios.post(this.baseUrl + '/api/auth/authenticate', formData)
          .then(res => {
            self.resetLogin = !self.resetLogin
            if (res.data.error) {
              self.errorMsg = res.data.error
              self.serverError = true
            } else {
              self.resetLogin = !self.resetLogin
              self.userRole = res.data.auth.userClaims.userRole
              self.isEmailVerified = res.data.auth.userClaims.isEmailVerified
              self.token = res.data.token
              localStorage.username = res.data.auth.username
              self.$store.commit('setEmail', res.data.auth.email)
              self.$store.commit('setToken', res.data.token)
              self.$store.commit('setUserRole', res.data.auth.userClaims.userRole)
              self.$store.commit('setUsername', res.data.auth.username)

              if (self.isEmailVerified === true) {
                router.push('/distributor')
              }
              if (self.userRole === 'TEAMLEAD') {
                router.push('/teamlead')
              }
              if (self.userRole === 'SUPERADMIN') {
                router.push('/admindashboard')
              }
            }
          })
          .catch(err => {
            self.resetLogin = !self.resetLogin
            self.errorMsg = err.error
            self.serverError = true
          })
      },
    },
  }
</script>
<style scoped>
.navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px),(max-width: 360px){
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
    max-width: 100px;
  }
    .items.carousel{
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media{
    background: aquamarine;
  }
  .items.carousel{
   height: 200;
 }

</style>
