<template>
  <v-app id="inspire">
  <mdb-navbar
     color="'secondary'"
      position="top"
       dark
        href="#"
        >
      <mdb-container>
        <mdb-navbar-toggler style="max-width: 1140px">
          <mdb-navbar-brand href="#"><img
           class="img-fluid"
           style="width: 70px"
           src="@/assets/tnilogo.png"
            alt="nav-brand"
            ><strong>TNI</strong></mdb-navbar-brand>
          <mdb-navbar-nav id="nav">
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             active
             >HOME</mdb-nav-item>
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             >ABOUT US</mdb-nav-item>
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             >GALERY</mdb-nav-item>
            <mdb-nav-item
             router-link
              to="/"
              waves-fixed
             >TESTIMONIALS</mdb-nav-item>
          </mdb-navbar-nav>
          <!--Search form -->
          <!--/.Search form -->
        </mdb-navbar-toggler>
      </mdb-container>
    </mdb-navbar>
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="info"
                dark
                flat
              >
                <v-toolbar-title>REGISTER AS A DISTRIBUTOR</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <span>Source</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <div
                 v-if= serverError
                 class= "text-danger text-center center"
                  >
                 {{ errorMsg }}
               </div>
                <v-form>
                  <v-text-field
                    id="username"
                    label="Display Name"
                    v-model="username"
                    name="Name"
                    prepend-icon="mdi-account"
                    type="text"
                  ></v-text-field>

                  <v-text-field
                    id="email"
                    v-model="email"
                    label="email"
                    name="email"
                    prepend-icon="mdi-email"
                    type="text"
                  ></v-text-field>
                  <v-text-field
                    id="password"
                    v-model="password"
                    label="password"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                  ></v-text-field>
                </v-form>
                <div> Already have an Account?
                  <a
                  href="/login"
                    >Login Here </a>
                </div>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                type="submit"
                value="send"
                color="info"
                @click="register"
                :disabled="resetReg"
                 >
                 <b-spinner
                 v-if = "resetReg === true"
                  variant="info"
                   label="Spinning"
                   ></b-spinner>
                   <span
                    class="sr-only"
                   v-if = "resetReg === true"
                   > wait...</span>
                 REGISTER</v-btn>

              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import router from '@/router.js'
  export default {
    data () {
      return {
        username: '',
        email: '',
        password: '',
        serverError: false,
        errorMsg: '',
        resetReg: false,
        spinner: 0,
      }
    },
    computed: {
    },
    methods: {
      async register () {
        if (!this.username) {
          alert('Name is required')
          return false
        }
        if (!this.email) {
          alert('Email is required')
          return false
        }
        if (!this.password) {
          alert('Password is required')
          return false
        }
        const form = {
          username: this.username,
          email: this.email,
          password: this.password,
        }
        const self = this
        self.resetReg = !self.resetReg
        // console.log((form))
        this.axios.post(this.baseUrl + '/api/auth/create', form)
          .then(res => {
            self.resetReg = !self.resetReg
            if (res.data.error) {
              self.errorMsg = res.data.error
              self.serverError = true
            } else {
              self.createDistributor()
            }
          })
          .catch(err => {
            self.resetReg = !self.resetReg
            self.errorMsg = err.error
            self.serverError = true
          })
      },
      createDistributor () {
        const distdata = {
          name: this.name,
          email: this.email,
        }
        const self = this
        // console.log(verifydata)
        self.resetReg = !self.resetReg
        this.axios.post(this.baseUrl + '/api/distributor/create', distdata)
          .then(res => {
            router.push('/reply')
          })
          .catch(error => (error))
      },
    },
  }

</script>
<style scoped>
.navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px),(max-width: 360px){
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
    max-width: 100px;
  }
    .items.carousel{
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media{
    background: aquamarine;
  }
  .items.carousel{
   height: 200;
 }
</style>
