<template>
  <v-app id="inspire">
  <mdb-navbar
     color="'secondary'"
      position="top"
       dark
        href="#"
        >
      <mdb-container>
        <mdb-navbar-toggler style="max-width: 1140px">
          <mdb-navbar-brand href="#"><img
           class="img-fluid"
           style="width: 70px"
           src="@/assets/tnilogo.png"
            alt="nav-brand"
            ><strong>TNI</strong></mdb-navbar-brand>
          <mdb-navbar-nav id="nav">
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             active
             >HOME</mdb-nav-item>
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             >ABOUT US</mdb-nav-item>
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             >GALERRY</mdb-nav-item>
            <mdb-nav-item
             router-link
              to="/"
              waves-fixed
             >TESTIMONIES</mdb-nav-item>
          </mdb-navbar-nav>
          <!--Search form -->
          <!--/.Search form -->
        </mdb-navbar-toggler>
      </mdb-container>
    </mdb-navbar>
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card
            v-if = errorToggle
            class="elevation-12"
            >
              <v-toolbar
                color="danger"
                dark
                flat
              >
                <v-toolbar-title>Error</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <span>Source</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
               <h5> your E-mail could not be verified </h5>
               <p>Try again...</p>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
            <v-card
            v-if = successToggle
            class="elevation-12"
            >
              <v-toolbar
                color="success"
                dark
                flat
              >
                <v-toolbar-title>SUCCESS</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <span>Source</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
               <h5> your E-mail has been verified </h5>
               <p>You will be redirected to login shortly...</p>
              </v-card-text>
              <v-card-actions>
                <v-text-field
                  id="password"
                  v-model="password"
                  label="password"
                  name="password"
                  prepend-icon="mdi-lock"
                  type="password"
                ></v-text-field>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  import router from '@/router.js'
  export default {
    props: [
      'query',
    ],
    data () {
      return {
        successToggle: false,
        errorToggle: false,
      }
    },

    mounted () {
      this.verifyUser()
    },
    methods: {
      verifyUser () {
        const verifydata = {
          query: this.query,
        }
        const self = this
        this.axios.put(this.baseUrl + '/api/auth/verify', verifydata)
          .then(res => {
            // console.log('response data', JSON.stringify(res))
            // this.router.push('/login')
            self.status = res.data.userClaims.isEmailVerified
            // console.log('this.status', self.status)
            if (self.status === true) {
              self.successToggle = true
              setTimeout(function () {
                router.push('/login')
              }, 5000)
            } else { self.errorToggle = true }
          })
          .catch(error => (error))
      },
    },
  }
</script>
<style scoped>
.navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px),(max-width: 360px){
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
    max-width: 100px;
  }
    .items.carousel{
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media{
    background: aquamarine;
  }
  .items.carousel{
   height: 200;
 }

</style>
