<template>
  <div id="card-deck">
    <mdb-container>
      <section
       class="text-center my-5"
       >
        <h1
         class="h1-responsive font-weight-bold my-5"
            v-animateOnScroll="'fadeInLeft'"
            >IMPACTING OUR WORLD</h1>
        <div>
          <mdb-row
           class="d-flex justify-content-center"
           >
            <mdb-card-group deck>
              <mdb-card
               md="5"
                xl="4"
                class="mb-4 border:15px border-primary shadow-lg p-3 mb-5 rounded  z-depth-5"
                v-animateOnScroll="'fadeInRight'"
                >
                <mdb-view class="overlay rounded z-depth-5 border-primary">
                  <img
                   src="@/assets/media4.jpg"
                       alt="sample photo"
                       class="img-fluid"
                        />
                  <a>
                    <mdb-mask
                     waves
                              overlay="white-slight"
                               />
                  </a>
                </mdb-view>
                <mdb-card-body class="pb-0">
                  <a
                   href=""
                     class="text-info"
                     >
                    <h5 class="font-weight-bold mt-2 mb-3">
                      <mdb-icon
                       icon="chart-line"
                                class="pr-2"
                                 />TNI</h5>
                  </a>
                  <h4 class="font-weight-bold text-primary mb-3">REGIONAL CONFERENCES</h4>
                  <p>Regional Conferences: TNI Regional Conferences are strategic meetings to showcase the impact of Rhapsody
                    of Realities and LoveWorld Products in the languages of the Region, because to a very large extent, a man
                    thinks in the language of His heart.</p>
                  <b-btn
                   color="success"
                    rounded
                    >View more</b-btn>
                </mdb-card-body>
              </mdb-card>
              <mdb-card
               md="5"
                        xl="4"
                        class="mb-4  border border-success shadow-lg p-3 mb-5 rounded z-depth-5"
                        v-animateOnScroll="'tada'"
                        >
                <mdb-view class="overlay rounded z-depth-5">
                  <img
                   src="@/assets/distro2.jpeg"
                       alt="sample photo"
                       class="img-fluid"
                       />
                  <a>
                    <mdb-mask
                     waves
                    overlay="white-slight"
                    />
                  </a>
                </mdb-view>
                <mdb-card-body class="pb-0">
                  <a
                   href=""
                     class="text-info"
                     >
                    <h5 class="font-weight-bold mt-2 mb-3">
                      <mdb-icon
                       icon="chart-line"
                                class="pr-2"
                                 />TNI</h5>
                  </a>
                  <h4 class="font-weight-bold text-dark mb-3">INFLUENCERS</h4>
                  <p>TNI Influencers are inspired personalities who vibrantly and actively distribute the digital copies of Rhapsody
                    of Realities to their followers on social media platforms and also encourage them to distribute to others
                    in the languages people best understand.</p>
                  <b-btn
                   color="success"
                    rounded
                    >View more</b-btn>
                </mdb-card-body>
              </mdb-card>
              <mdb-card
               md="5"
                        xl="4"
                        class="mb-4  border border-primary shadow-lg p-3 mb-5 rounded z-depth-5"
                        v-animateOnScroll="'rollIn'"
                        >
                <mdb-view class="overlay rounded z-depth-5">
                  <img
                   src="@/assets/media3.jpg"
                       alt="sample photo"
                       class="img-fluid"
                        />
                  <a>
                    <mdb-mask
                     waves
                              overlay="white-slight"
                               />
                  </a>
                </mdb-view>
                <mdb-card-body class="pb-0">
                  <a
                   href=""
                     class="text-info"
                     >
                    <h5 class="font-weight-bold mt-2 mb-3">
                      <mdb-icon
                       icon="chart-line"
                                class="pr-2"
                                 />TNI</h5>
                  </a>
                  <h4 class="font-weight-bold text-danger mb-3">MISSIONS</h4>
                  <p>The Network seeks to make in-roads into every nation, city, town and village so that the saving message of
                    the gospel of Jesus Christ reaches everyone in the language of their hearts. Through TNI Missions, Rhapsody
                    of Realities is available in ALL 707 Indonesian languages, making it possible to reach everyone in this
                    beautiful country with the saving message of the gospel.</p>
                  <b-btn
                   color="success"
                    rounded
                    >View more</b-btn>
                </mdb-card-body>
              </mdb-card>
            </mdb-card-group>
          </mdb-row>
        </div>
      </section>
    </mdb-container>
  </div>

</template>

<script>

  import {
    mdbContainer,
    mdbRow,
    mdbCard,
    mdbIcon,
    mdbCardGroup,
    mdbMask,
    mdbView,
    mdbCardBody,
    animateOnScroll,
  } from 'mdbvue'
  export default {
    name: 'CardDeck',
    components: {
      mdbContainer,
      mdbRow,
      mdbCard,
      mdbMask,
      mdbIcon,
      mdbCardBody,
      mdbView,
      mdbCardGroup,
    },
    directives: {
      animateOnScroll,
    },
  }

</script>
<style>

  .navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px), (max-width: 360px) {
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
      max-width: 100px;
    }
    .items.carousel {
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
    line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media {
    background: aquamarine;
  }
  .items.carousel {
    height: 200;
  }

</style>
