<template>

  <div id="carousel">
    <mdb-carousel
    style="margin-top: 10px"
      slide
      :interval="5000"
      :items="basicCarousel"
      indicators
      ></mdb-carousel>
  </div>

</template>

<script>

  import { mdbCarousel } from 'mdbvue'
  export default {
    name: 'Carousel',
    components: {
      mdbCarousel,
    },
    data () {
      return {
        carousel: 2,
        basicCarousel: [
          {
            img: true,
            src: require('../assets/media1.jpg'),
            mask: 'black-light',
            alt: 'First Slide',
            caption: {
              title: '',
            },
          },
          {
            img: true,
            src: require('../assets/media2.jpg'),
            mask: 'black-strong',
            alt: 'First Slide',
            caption: {
              title: '',
            },
          },

          {
            img: true,
            src: require('../assets/media3.jpg'),
            mask: 'black-slight',
            alt: 'First Slide',
            caption: {
              title: '',
            },
          },
        ],
      }
    },
  }

</script>
<style>

  .navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px), (max-width: 360px) {
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
      max-width: 100px;
    }
    .items.carousel {
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
    line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media {
    background: aquamarine;
  }
  .items.carousel {
    height: 200;
  }

</style>
