<template>

  <mdb-container>
    <section
     class="text-center my-5"
     >
      <h1
       class="h1-responsive text-info font-weight-bold my-5"
          v-animateOnScroll="'fadeInLeft'"
          >SHINING WITH LANGUAGES</h1>
    <mdb-row>
      <mdb-col
       sm="6"
        v-animateOnScroll="'fadeInRight'"
               >
        <mdb-card
         class="card-image"
                  style="background-image: url('https://static.bhphoto.com/images/images1000x1000/1297166517_725902.jpg')"
                  >
          <div class="text-dark text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h3 class="text-danger">
                <mdb-icon
                 class="text-primary"
                          icon="chart-pie"
                           /> TNI!</h3>
              <mdb-card-title
               tag="h3"
                      class="pt-2"
                  ><strong>BE SOMEONE’S HERO!</strong></mdb-card-title>
              <p>Have you ever been in a place where no one could speak your language and finally you met someone who spoke your language? We are sure you were relieved and you broke into a smile.
                This is what Rhapsody of Realities is doing; brining the good news to millions in the language they understand, causing them to smile in hope. Each translated copy of Rhapsody of Realities represents a soul and a smile. For every Messenger Angel you send out into the world, you send out the message of hope to a soul and bring a smile to their faces.
              </p>
              <mdb-btn color="pink">
                <mdb-icon icon="clone left" /> Learn More</mdb-btn>
            </div>
          </div>
        </mdb-card>
      </mdb-col>
      <mdb-col
       sm="6"
               v-animateOnScroll="'fadeInLeft'"
               >
        <mdb-card
         class="card-image"
                  style="background-image: url('https://static.bhphoto.com/images/images1000x1000/1297166517_725902.jpg')"
                  >
          <div class="text-dark text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
            <div>
              <h3 class="text-danger">
                <mdb-icon
                 class="text-primary"
                          icon="chart-pie"
                           /> TNI</h3>
              <mdb-card-title
               tag="h3"
               class="pt-2"
               ><strong>TAG YOUR NAME TO AN ANGEL</strong></mdb-card-title>
               <p>
                 Rhapsody of Realities is also called “The Messenger Angel”. You can ‘tag your name to an angel’ by spreading joy, hope, love to people, one person at a time in the language they understand best. Every copy sponsored and distributed in many instances is the only opportunity to receive salvation; that one person, one family, one community and ultimately a whole generation is saved because YOU made it happen! JOIN US!
               </p>
              <mdb-btn color="deep-orange">
                <mdb-icon icon="clone left" /> Learn More</mdb-btn>
            </div>
          </div>
        </mdb-card>
      </mdb-col>
    </mdb-row>
  </section>
  </mdb-container>

</template>

<script>

  import { mdbContainer, mdbRow, mdbCol, mdbCard, mdbCardTitle, mdbIcon, animateOnScroll } from 'mdbvue'
  export default {
    name: 'CardProPage',
    components: {
      mdbContainer,
      mdbRow,
      mdbCol,
      mdbCard,
      mdbCardTitle,
      mdbIcon,
    },
    directives: {
      animateOnScroll,
    },
  }

</script>
