<template>

  <div id="contact">
    <v-parallax
     height="300px"
                src="@/assets/contactparallax.jpg"
                >
      <mdb-container class="mt-5 shadow-lg rounded">
        <mdb-card>
          <v-parallax
           height="300px"
                      src="@/assets/contactparallax.jpg"
                      >
            <mdb-card-title class="mt-4 h2 text-center">Contact us</mdb-card-title>
            <mdb-card-body color="primary">
              <mdb-card-text
               class="pr-5 pl-5"
                mr-4
                 ml-4
                 >Do you have any questions? Please do not hesitate to contact us directly. Our team will cgetback to you within
                a matter of hours to help you.</mdb-card-text>
              <form>
                <mdb-row>
                  <mdb-col md="8">
                    <mdb-row>
                      <mdb-col>
                        <mdb-input label="Your name" />
                      </mdb-col>
                      <mdb-col>
                        <mdb-input
                         type="email"
                                   label="Your email"
                                    />
                      </mdb-col>
                    </mdb-row>
                    <mdb-row>
                      <mdb-col>
                        <mdb-input label="Subject" />
                      </mdb-col>
                    </mdb-row>
                    <mdb-row>
                      <mdb-col>
                        <mdb-input
                        type="textarea"
                                   label="Your message"
                                    />
                      </mdb-col>
                    </mdb-row>
                  </mdb-col>
                  <mdb-col md="3">
                    <mdb-row>
                      <mdb-col class="mt-3">
                        <mdb-icon
                         icon="map-marker-alt"
                                  size="2x"
                                   />
                        <p>San Francisco, CA 94126, USA</p>
                      </mdb-col>
                    </mdb-row>
                    <mdb-row>
                      <mdb-col class="mt-3">
                        <mdb-icon
                         icon="phone"
                                  size="2x"
                                   />
                        <p>+ 01 234 567 89</p>
                      </mdb-col>
                    </mdb-row>
                    <mdb-row>
                      <mdb-col class="mt-3">
                        <mdb-icon
                         icon="envelope"
                                  size="2x"
                                   />
                        <p>contact@translatorsnetwork.com</p>
                      </mdb-col>
                    </mdb-row>
                  </mdb-col>
                </mdb-row>
                <b-btn
                 color="primary"
                       type="submit"
                       class="float-left text-center"
                       >
                  <h4>Send</h4>
                </b-btn>
              </form>
            </mdb-card-body>
          </v-parallax>
        </mdb-card>
      </mdb-container>
    </v-parallax>
  </div>

</template>

<script>

  import {
    mdbContainer,
    mdbInput,
    mdbCard,
    mdbCardTitle,
    mdbCardText,
    mdbCardBody,
    mdbIcon,
    mdbRow,
    mdbCol,
  } from 'mdbvue'

  export default {
    components: {
      mdbContainer,
      mdbInput,
      mdbCard,
      mdbCardTitle,
      mdbCardBody,
      mdbCardText,
      mdbIcon,
      mdbRow,
      mdbCol,
    },
  }

</script>

<style scoped>

  .container {
    text-align: center;
  }

  .navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px), (max-width: 360px) {
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
      max-width: 100px;
    }
    .items.carousel {
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
    line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media {
    background: aquamarine;
  }
  .items.carousel {
    height: 200;
  }

</style>
