<template>
  <div id="jumbotron">
    <mdb-jumbotron class="mb-0 text-center blue-grey lighten-5">
    <h1 class="card-title h1">TNI INFLUENCERS</h1>
    <mdb-row class="d-flex justify-content-center">
      <mdb-col
       xl="7"
        class="pb-2"
        >
        <blockquote class="blockquote">
        <p class="card-text">
          TNI Influencers are inspired personalities who vibrantly and actively distribute the different formats of Rhapsody of Realities to their followers on social media platforms and also encourage them to distribute to others in the languages people best understand.
          You will be making a world of difference as you share the message of hope to people in the language of their hearts.
        </p>
      </blockquote>
      </mdb-col>
    </mdb-row>
    <hr class="my-4 pb-2">
    <b-btn
     variant="info"
     router-link
            to="/register"
      rounded
       icon="Register"
        iconRight
        ><a>JOIN AS A TNI INFLUENCER</a></b-btn>
  </mdb-jumbotron>
  </div>
</template>

<script>
  import { mdbJumbotron, mdbCol, mdbRow } from 'mdbvue'
  export default {
    name: 'Jumbotron',
    components: {
      mdbJumbotron,
      mdbCol,
      mdbRow,
    },

  }
</script>

<style>

  .navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px),(max-width: 360px){
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
    max-width: 100px;
  }
    .items.carousel{
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media{
    background: aquamarine;
  }
  .items.carousel{
   height: 200;
 }

</style>
