<template>
  <div id="nav-bar">
    <mdb-navbar
     color="'secondary'"
      position="top"
       dark
        href="#"
        >
      <mdb-container>
        <mdb-navbar-toggler style="max-width: 1140px">
          <mdb-navbar-brand href="#"><img
           class="img-fluid"
           style="width: 70px"
           src="@/assets/tnilogo.png"
            alt="nav-brand"
            ><strong>TNI</strong></mdb-navbar-brand>
          <mdb-navbar-nav id="nav">
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             active
             >HOME</mdb-nav-item>
          <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             >ABOUT US</mdb-nav-item>
          <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             >GALLERY</mdb-nav-item>
          <mdb-nav-item
             router-link
              to="/"
              waves-fixed
             >TESTIMONIALS</mdb-nav-item>
             <mdb-nav-item
             router-link
              to="/"
              waves-fixed
             >TNI APP</mdb-nav-item>
          </mdb-navbar-nav>
          <!--Search form -->
          <mdb-navbar-nav
           right
           >
          <b-btn
          pill
          variant="info"
         outline="white"
          size="md"
           icon="clone"
           router-link
            to="/register"
           v-animateOnScroll="{animation: 'flash', delay: 300}"
           >Join Distributors Now</b-btn>
          </mdb-navbar-nav>
          <!--/.Search form -->
        </mdb-navbar-toggler>
      </mdb-container>
    </mdb-navbar>
  </div>
</template>

<script>
  import { mdbNavbar, mdbNavbarToggler, mdbNavbarNav } from 'mdbvue'
  export default {
    name: 'NavBar',
    components: {
      mdbNavbar,
      mdbNavbarToggler,
      mdbNavbarNav,
    },
  }
</script>

<style>

  .navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px),(max-width: 360px){
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
    max-width: 100px;
  }
    .items.carousel{
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media{
    background: aquamarine;
  }
  .items.carousel{
   height: 200;
 }
</style>
