<template>
<div id="testimonial">
<v-parallax
 height="400px"
 src="https://qph.fs.quoracdn.net/main-qimg-a0077e244d0264bb645005897ecceda2"
 >
    <mdb-container>
    <section class="team-section text-center my-5">
      <h1
       class="h1-responsive font-weight-bold text-dark my-5"
      v-animateOnScroll="'fadeInRight'"
      >TESTIMONIALS</h1>
      <hr class="hr-light" />
      <p class="dark-grey-text w-responsive mx-auto mb-5"></p>
      <mdb-row
      :color="'secondary'"
      class="text-center"
      >
        <mdb-col
         md="4"
          class="shadow-lg p-3 mb-5 rounded"
         >
          <mdb-testimonial>
            <mdb-avatar
             class="mx-auto"
             v-animateOnScroll="'rollIn'"
             >
              <img
               src="@/assets/testimonial 1.png"
                class="rounded-circle z-depth-1 img-fluid shadow p-3 mb-5 bg-white rounded"
                />
            </mdb-avatar>
            <h4
             class="font-weight-bold text-dark mt-4"
             v-animateOnScroll="'tada'"
             >CREATING</h4>
            <h6 class="font-weight-bold text-primary my-3">MORE SMILES</h6>
            <p class="font-weight-normal text-dark">
              <mdb-icon
               class="fas fa-quote-left pr-2"
              v-animateOnScroll="'tada'"
              ></mdb-icon>I want to specially thank Pastor Chris, for the unique grace in Rhapsody. This grace makes all things easy to get and people just love you unconditionally. That’s one of the many benefits as a translator.
              <br>
              With your sponsorship of <span class='text-danger'>$1,</span> you will be creating more smiles by making it possible for one more person to receive the messenger angel in the language of their heart.
            </p>
            <div class="orange-text text-dark">
              <mdb-icon icon="star"> </mdb-icon>
              <mdb-icon icon="star"> </mdb-icon>
              <mdb-icon icon="star"> </mdb-icon>
              <mdb-icon icon="star"> </mdb-icon>
              <mdb-icon icon="star-half-alt"> </mdb-icon>
            </div>
          </mdb-testimonial>
        </mdb-col>
        <mdb-col
        class="shadow-lg p-3 mb-5 rounded"
         md="4"
         >
          <mdb-testimonial>
            <mdb-avatar
             class="mx-auto"
              v-animateOnScroll="{animation: 'fadeInLeft', delay: 200}"
             >
              <img
               src="@/assets/testimonial 2.png"
                class="rounded-circle z-depth-1 img-fluid shadow p-3 mb-5 bg-white rounded"
                />
            </mdb-avatar>
            <h4
             class="font-weight-bold text-dark mt-4"
             v-animateOnScroll="'lightSpeedIn'"
             >ONE MILLION</h4>
            <h6 class="font-weight-bold text-primary my-3">OUTREACHES</h6>
            <p class="font-weight-normal text-dark">
              <mdb-icon class="fas fa-quote-left pr-2"></mdb-icon>My 1st Contact with the messenger Angel was so divine and my life turned around completely. I became a Translator, which I do with all heart; it’s being 15 years now and I haven’t missed an edition
              <br>
              With your sponsorship of <span class='text-danger'>$100,</span> your influence and impact is further amplified and we reach out to more and more people through strategic outreaches to Hospitals, Prisons and Remand Homes, Orphanages and communities, in the language of their hearts
            </p>
            <div class="orange-text text-dark">
              <mdb-icon icon="star"> </mdb-icon>
              <mdb-icon icon="star"> </mdb-icon>
              <mdb-icon icon="star"> </mdb-icon>
              <mdb-icon icon="star"> </mdb-icon>
              <mdb-icon icon="star"> </mdb-icon>
            </div>
          </mdb-testimonial>
        </mdb-col>
        <mdb-col
        class="shadow-lg p-3 mb-5 rounded"
        md="4"
        >
          <mdb-testimonial>
            <mdb-avatar
             class="mx-auto "
              v-animateOnScroll="{animation: 'fadeInLeft', delay: 200}"
             >
              <img
               src="@/assets/testimonial 3.png"
                class="rounded-circle z-depth-1 img-fluid shadow p-3 mb-5 bg-white rounded"
                />
            </mdb-avatar>
            <h4
             class="font-weight-bold text-dark mt-4"
              v-animateOnScroll="'fadeInDownBig'"
             >TNI LINGUAL</h4>
            <h6 class="font-weight-bold text-primary my-3">LEGENDS</h6>
            <p class="font-weight-normal text-dark">
              <mdb-icon class="fas fa-quote-left pr-2"></mdb-icon>Mrs. K. Bagadi used to be sickly and in lack; in her words “I used to work, but half my salary was wasted on the doctors, and the balance money was not enough to take care of my family”
              <br>
              With your sponsorship of <span class='text-danger'>$1,000,</span> the Love message makes in-roads in cities and nations making it possible for thousands to have access to the messenger angel in the language of their hearts
            </p>
            <div class="orange-text text-dark">
              <mdb-icon icon="star"> </mdb-icon>
              <mdb-icon icon="star"> </mdb-icon>
              <mdb-icon icon="star"> </mdb-icon>
              <mdb-icon icon="star"> </mdb-icon>
              <mdb-icon
               far
               icon="star"
               > </mdb-icon>
            </div>
          </mdb-testimonial>
        </mdb-col>
      </mdb-row>
    </section>
  </mdb-container>
</v-parallax>
</div>
</template>

<script>
  import { mdbContainer, mdbRow, mdbIcon, mdbTestimonial, animateOnScroll } from 'mdbvue'
  export default {
    name: 'Testimonial',
    components: {
      mdbContainer,
      mdbRow,
      mdbIcon,
      mdbTestimonial,
    },
    directives: {
      animateOnScroll,
    },

  }
</script>

<style>

  .navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px),(max-width: 360px){
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
    max-width: 100px;
  }
    .items.carousel{
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media{
    background: aquamarine;
  }
  .items.carousel{
   height: 200;
 }
</style>
