<template>
    <nav id="nav">
        <router-link to="/">Home</router-link>
        <router-link to="/register">Register</router-link>
    </nav>
</template>

<style scoped>
#nav {
    display: flex;
    align-items: center;
}

</style>
