<template>
<div id="wrapper">
 <view-wrapper>
      <mdb-mask
       class="d-flex gradient justify-content-center align-items-center"
       >
        <mdb-container
         style="margin-top: 10px"
         >
          <mdb-row>
            <div class="white-text text-center text-md-left col-md-6 mt-xl-5 mb-5">
              <h2
               v-animateOnScroll="'fadeInDownBig'"
               class="h1-responsive text-danger font-weight-bold text-center"
               >MORE THAN A BOOK! </h2>
              <hr class="hr-light" />
              <blockquote
               class="blockquote"
               >
              <p
               class="text-justify text-white"
              v-animateOnScroll="'fadeInRight'"
               >
               With over 3 billion copies of Rhapsody of Realities distributed and now in over 2,060 languages of the world and still counting, the best-selling daily devotional and Bible study guide is more than a book! It contains answers to life’s questions, solutions to life’s problems and a personal guide to walk you through life. Often called “The Rhapsody of God”, the revelations, teachings, anecdotes and illustrations, Word-based prayers and confessions, proven one-year, and two-year Bible reading plans are guaranteed to edify and enrich your walk with the Lord.
               Everyone deserves to go through life with a copy of Rhapsody of Realities available to him in the language of their hearts; this is our Mandate as TNI Influencers.
               Join us today in proffering hope, faith and love to the broken humanity that fills our world today.
               </p>
                <b-btn
             variant="primary"
              rounded
              >Click Here</b-btn>
              </blockquote>
            </div>
            <mdb-col>
            </mdb-col>
            <mdb-col
             md="5"
          xl="4"
           class="mb-4"
           >
              <mdb-card
              class="mr-4"
              style="width: 0rem;"
               id="classic-card"
               >
                <mdb-card-body
                style="width: 20rem;"
                 class="z-depth-2 white-text"
                 >
                  <h3
                   class="text-center"
                   ><mdb-icon
                    icon="user"
                    /> Download Free</h3>
                  <hr
                   class="hr-light"
                   />
                     <mdb-input
                      placeholder="Your Email"
                       labelColor="black"
                       v-model="email"
                        icon="envelope"
                        />
                        <!-- <b-form-select
                         v-model="month"
                         >
                          <option
                           disabled
                            value=""
                            >Select a Month</option>
                          <option>January</option>
                          <option>February</option>
                          <option>March</option>
                          <option>April</option>
                          <option>May</option>
                          <option>June</option>
                          <option>July</option>
                          <option>August</option>
                          <option>September</option>
                          <option>October</option>
                          <option>November</option>
                          <option>December</option>
                        </b-form-select> -->
                          <br>
                          <div>
                            <Select2
                            label="select A Country"
                             v-model="country"
                             placeholder="Select A country"
                              :options="mycountry"
                               :settings="{ settingOption: mycountry, settingOption: mycountry }"
                                 />
                          </div>
                          <!-- <v-select
                           :options= "mycountry"
                           class="country"
                           > Select A country</v-select> -->

                            <br>
                            <div>
                              <Select2
                              label="Select A Language"
                              v-model="language"
                              placeholder="Select A language"
                                :options="languages"
                                 :settings="{ settingOption: languages, settingOption: languages }"
                                   />
                            </div>
                        <br>

                  <div
                   class="text-center mt-4 black-text"
                   >
                    <b-btn
                    type="submit"
                    value="send"
                    variant="primary"
                     @click="download"
                     :disabled="resetDownload"
                       >
                       <b-spinner
                       v-if = "resetDownload === true"
                        variant="info"
                         label="Spinning"
                         ></b-spinner>
                         <span
                          class="sr-only"
                         v-if = "resetDownload === true"
                         > wait...</span>
                       DOWNLOAD NOW</b-btn>
                    <hr
                     class="hr-light"
                     />
                  </div>
                </mdb-card-body>
              </mdb-card>
              </mdb-col>
          </mdb-row>
        </mdb-container>
      </mdb-mask>
    </view-wrapper>
</div>
</template>

<script>
  import { mdbContainer, mdbRow, mdbCol, ViewWrapper, mdbMask, mdbCard, mdbCardBody, mdbInput, animateOnScroll, mdbIcon } from 'mdbvue'
  export default {
    name: 'Wrapper',
    components: {
      mdbContainer,
      mdbRow,
      mdbCol,
      ViewWrapper,
      mdbMask,
      mdbCard,
      mdbCardBody,
      mdbInput,
      mdbIcon,
    },
    directives: {
      animateOnScroll,
    },
    data () {
      return {
        country: '',
        language: '',
        languages: [],
        email: '',
        month: '',
        year: '',
        resetDownload: false,
        spinner: 0,
        url: 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/AdditiveColorMixiing.svg/220px-AdditiveColorMixiing.svg.png',
        // country: '',
        mycountry: [
          'Afghanistan',
          'Aland Islands',
          'Albania',
          'Algeria',
          'American Samoa',
          'Andorra',
          'Angola',
          'Anguilla',
          'Antarctica',
          'Antigua and Barbuda',
          'Argentina',
          'Armenia',
          'Aruba',
          'Australia',
          'Austria',
          'Azerbaijan',
          'Bahamas',
          'Bahrain',
          'Bangladesh',
          'Barbados',
          'Belarus',
          'Belgium',
          'Belize',
          'Benin',
          'Bermuda',
          'Bhutan',
          'Bolivia, Plurinational State',
          'Bonaire, Sint Eustatius and Saba',
          'Bosnia and Herzegovina',
          'Botswana',
          'Bouvet Island',
          'Brazil',
          'British Indian Ocean Territory',
          'Brunei Darussalam',
          'Bulgaria',
          'Burkina Faso',
          'Burundi',
          'Cambodia',
          'Cameroon',
          'Canada',
          'Cape Verde',
          'Cayman Islands',
          'Central African Republic',
          'Chad',
          'Chile',
          'China',
          'Christmas Island',
          'Cocos (Keeling) Islands',
          'Colombia',
          'Comoros',
          'Congo',
          'Congo, the Democratic Republic',
          'Cook Islands',
          'Costa Rica',
          'Côte d Ivoire',
          'Croatia',
          'Cuba',
          'Curaçao',
          'Cyprus',
          'Czech Republic',
          'Denmark',
          'Djibouti',
          'Dominica',
          'Dominican Republic',
          'Ecuador',
          'Egypt',
          'El Salvador',
          'Equatorial Guinea',
          'Eritrea',
          'Estonia',
          'Ethiopia',
          'Falkland Islands (Malvinas)',
          'Faroe Islands',
          'Fiji',
          'Finland',
          'France',
          'French Guiana',
          'French Polynesia',
          'French Southern Territories',
          'Gabon',
          'Gambia',
          'Georgia',
          'Germany',
          'Ghana',
          'Gibraltar',
          'Greece',
          'Greenland',
          'Grenada',
          'Guadeloupe',
          'Guam',
          'Guatemala',
          'Guernsey',
          'Guinea',
          'Guinea-Bissau',
          'Guyana',
          'Haiti',
          'Heard Island and McDonald Islands',
          'Holy See (Vatican City State)',
          'Honduras',
          'Hong Kong',
          'Hungary',
          'Iceland',
          'India',
          'Indonesia',
          'Iran, Islamic Republic',
          'Iraq',
          'Ireland',
          'Isle of Man',
          'Israel',
          'Italy',
          'Jamaica',
          'Japan',
          'Jersey',
          'Jordan',
          'Kazakhstan',
          'Kenya',
          'Kiribati',
          'Korea',
          'Kuwait',
          'Kyrgyzstan',
          'Lao Peoples Democratic Republic',
          'Latvia',
          'Lebanon',
          'Lesotho',
          'Liberia',
          'Libya',
          'Liechtenstein',
          'Lithuania',
          'Luxembourg',
          'Macao',
          'Macedonia, the Former Yugoslav Republic',
          'Madagascar',
          'Malawi',
          'Malaysia',
          'Maldives',
          'Mali',
          'Malta',
          'Marshall Islands',
          'Martinique',
          'Mauritania',
          'Mauritius',
          'Mayotte',
          'Mexico',
          'Micronesia, Federated States',
          'Moldova, Republic ',
          'Monaco',
          'Mongolia',
          'Montenegro',
          'Montserrat',
          'Morocco',
          'Mozambique',
          'Myanmar',
          'Namibia',
          'Nauru',
          'Nepal',
          'Netherlands',
          'New Caledonia',
          'New Zealand',
          'Nicaragua',
          'Niger',
          'Nigeria',
          'Niue',
          'Norfolk Island',
          'Northern Mariana Islands',
          'Norway',
          'Oman',
          'Pakistan',
          'Palau',
          'Palestine, State of',
          'Panama',
          'Papua New Guinea',
          'Paraguay',
          'Peru',
          'Philippines',
          'Pitcairn',
          'Poland',
          'Portugal',
          'Puerto Rico',
          'Qatar',
          'Réunion',
          'Romania',
          'Russian Federation',
          'Rwanda',
          'Saint Barthélemy',
          'Saint Helena, Ascension and Tristan da Cunha',
          'Saint Kitts and Nevis',
          'Saint Lucia',
          'Saint Martin (French part)',
          'Saint Pierre and Miquelon',
          'Saint Vincent and the Grenadines',
          'Samoa',
          'San Marino',
          'Sao Tome and Principe',
          'Saudi Arabia',
          'Senegal',
          'Serbia',
          'Seychelles',
          'Sierra Leone',
          'Singapore',
          'Sint Maarten (Dutch part)',
          'Slovakia',
          'Slovenia',
          'Solomon Islands',
          'Somalia',
          'South Africa',
          'South Georgia and the South Sandwich Islands',
          'South Sudan',
          'Spain',
          'Sri Lanka',
          'Sudan',
          'Suriname',
          'Svalbard and Jan Mayen',
          'Swaziland',
          'Sweden',
          'Switzerland',
          'Syrian Arab Republic',
          'Taiwan, Province of China',
          'Tajikistan',
          'Tanzania, United Republic of',
          'Thailand',
          'Timor-Leste',
          'Togo',
          'Tokelau',
          'Tonga',
          'Trinidad and Tobago',
          'Tunisia',
          'Turkey',
          'Turkmenistan',
          'Turks and Caicos Islands',
          'Tuvalu',
          'Uganda',
          'Ukraine',
          'United Arab Emirates',
          'United Kingdom',
          'United States',
          'United States Minor Outlying Islands',
          'Uruguay',
          'Uzbekistan',
          'Vanuatu',
          'Venezuela',
          'Bolivarian Republic',
          'Viet Nam',
          'Virgin Islands, British',
          'Virgin Islands, U.S.',
          'Wallis and Futuna',
          'Western Sahara',
          'Yemen',
          'Zambia',
          'Zimbabwe',
        ],
      }
    },
    beforeMount () {
      this.createCal()
      this.fetchTranslation()
    },
    mounted () {

    },
    computed: {
      processLanguages () {
        return this.languages
      },
    },
    methods: {
      createCal () {
        var d = new Date()
        var month = d.getMonth() + 1 // Since getMonth() returns month from 0-11 not 1-12
        var year = d.getFullYear()
        switch (month) {
          case 1:
            month = 'January'
            break
          case 2:
            month = 'February'
            break
          case 3:
            month = 'March'
            break
          case 4:
            month = 'April'
            break
          case 5:
            month = 'May'
            break
          case 6:
            month = 'June'
            break
          case 7:
            month = 'July'
            break
          case 8:
            month = 'August'
            break
          case 9:
            month = 'September'
            break
          case 10:
            month = 'October'
            break
          case 11:
            month = 'November'
            break
          case 12:
            month = 'December'
            break
        }
        this.month = month
        this.year = year
      },
      async download () {
        if (!this.email) {
          alert('email is required')
          return false
        }
        if (!this.country) {
          alert('Country is required')
          return false
        }
        if (!this.language) {
          alert('Language is required')
          return false
        }

        const self = this
        self.resetDownload = !self.resetDownload
        const form = {
          email: this.email,
          country: this.country,
          language: this.language,
          month: this.month,
          year: this.year,
        }
        // console.log(form)
        this.axios.post(this.baseUrl + '/api/download/create', form)
          .then(res => {
            this.email = ''
            this.country = ''
            this.language = ''
            self.resetDownload = !self.resetDownload
            // console.log(res)
            if (res.data) {
              this.onClick(res.data.url, res.data.fileName)
            } else {
              self.resetDownload = !self.resetDownload
            }
          })
      },
      onClick (link, fileName) {
        const self = this
        self.resetDownload = !self.resetDownload
        // console.log('link', link)
        // console.log('fileName', fileName)
        if (link === '' && fileName === '') {
          this.$bvToast.toast('Translation Unavailable', {
            title: `Translation ${'Unavailable for '} ${self.month}`,
            variant: 'danger',
            solid: true,
          })
          self.resetDownload = !self.resetDownload
          return false
        } else {
          this.axios.get(this.baseUrl + link, { responseType: 'blob' })
            .then((response) => {
              self.resetDownload = !self.resetDownload
              var fileURL = window.URL.createObjectURL(new Blob([response.data]))
              var fileLink = document.createElement('a')
              fileLink.href = fileURL
              fileLink.setAttribute('download', fileName)
              document.body.appendChild(fileLink)
              fileLink.click()
              this.makeToast('success')
            })
        }
      },
      fetchTranslation () {
        const self = this
        this.axios.get(this.baseUrl + '/api/translation/')
          .then(response => {
            // console.log(response)
            // console.log(JSON.stringify(response))
            // JSON responses are automatically parsed.
            if (response.data) {
              // console.log(response)
              self.translations = response.data
              self.buildLanguage(self.translations)
              // console.log('Languages', JSON.stringify(self.languages))
            }
            return self.translations
          })
          .catch(e => {
          })
      },
      buildLanguage (translation) {
        const self = this
        for (var i = 0; i < translation.length; i++) {
          const translObj = translation[i]
          // this.languages.push({ id: translObj.id, name:translObj.language })
          this.languages.push(translObj.language)
          if (translObj.year.trim() === this.year && translObj.month.trim() === this.month) {
            // this.languages.push({ _id: translObj.id, language: translObj.language })
            this.languages.push({ _id: translObj.id, name: translObj.language })
          } else {
          }
        }
        return self.languages
      },
      makeToast (variant = null) {
        this.$bvToast.toast('Free Download Successful', {
          title: `Download ${variant || 'success'}`,
          variant: variant,
          solid: true,
        })
      },
    },
  }
</script>

<style>

  .navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px),(max-width: 360px){
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
    max-width: 100px;
  }
    .items.carousel{
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media{
    background: aquamarine;
  }
  .items.carousel{
   height: 200;
 }
</style>
