<template>
  <view-wrapper>
  <v-container>
  <v-row>
  <v-col
    cols="12"
     lg="6"
    >
  <v-card
    class="mt-4 mx-auto grey lighten-3 align-items-left"
    max-width="500"
  >
    <v-sheet
      class="v-sheet--offset mx-auto"
      color="orange"
      elevation="12"
      max-width="calc(100% - 32px)"
    >
      <v-sparkline
        :labels="labels"
        :value="value"
        color="white"
        line-width="2"
        padding="16"
      ></v-sparkline>
    </v-sheet>

    <v-card-text class="pt-">
      <div class="title font-weight-bold mb-2">Last Team Added</div>
      <div class="subheading font-weight-bold grey--text">Last Team Updates</div>
      <v-divider class="my-2"></v-divider>
      <v-icon
        class="mr-2"
        small
      >
        mdi-clock
      </v-icon>
      <span class="caption grey--text font-weight-bold">last Team updated 24 minutes ago</span>
    </v-card-text>
  </v-card>
  </v-col>
  <v-col
    cols="12"
     lg="6"
    >
  <v-card
    class="mt-4 mx-auto grey lighten-3 align-items-left"
    max-width="500"
  >
    <v-sheet
      class="v-sheet--offset mx-auto"
      color="purple"
      elevation="12"
      max-width="calc(100% - 32px)"
    >
      <v-sparkline
        :labels="labels"
        :value="value"
        color="white"
        line-width="2"
        padding="16"
      ></v-sparkline>
    </v-sheet>

    <v-card-text class="pt-">
      <div class="title font-weight-bold mb-2">Languages Added</div>
      <div class="subheading font-weight-bold grey--text">Last Language Translated</div>
      <v-divider class="my-2"></v-divider>
      <v-icon
        class="mr-2"
        small
      >
        mdi-clock
      </v-icon>
      <span class="caption grey--text font-weight-bold">New Language added in 10 minutes ago</span>
    </v-card-text>
  </v-card>
  </v-col>
  </v-row>
  </v-container>
  </view-wrapper>
</template>

<script>
  export default {
    data: () => ({
      labels: [
        '12am',
        '3am',
        '6am',
        '9am',
        '12pm',
        '3pm',
        '6pm',
        '9pm',
      ],
      value: [
        200,
        675,
        410,
        390,
        310,
        460,
        250,
        240,
      ],
    }),

  }
</script>

<style>

</style>
