<template>
<view-wrapper>
<v-container
 id="dashboard"
  fluid
  tag="section"
    >
    <v-row>
    <v-col
    cols="12"
     lg="6"
    >

  <v-card
    class="mt-4 mx-auto grey lighten-3 align-items-left"
    max-width="500"
  >
    <v-sheet
      class="v-sheet--offset mx-auto"
      color="green"
      elevation="12"
      max-width="calc(100% - 32px)"
    >
      <v-sparkline
        :labels="labels"
        :value="value"
        color="white"
        line-width="2"
        padding="16"
      ></v-sparkline>
    </v-sheet>

    <v-card-text class="pt-">
      <div class="title font-weight-bold mb-2">User Registrations</div>
      <div class="subheading font-weight-bold grey--text">Last Users Update</div>
      <v-divider class="my-2"></v-divider>
      <v-icon
        class="mr-2"
        small
      >
        mdi-clock
      </v-icon>
      <span class="caption grey--text font-weight-bold">last registration 26 minutes ago</span>
    </v-card-text>
  </v-card>
  </v-col>
  <v-col
    cols="12"
     lg="6"
    >
  <v-card
    class="mt-4 mx-auto grey lighten-3 align-items-left"
    max-width="500"
  >
    <v-sheet
      class="v-sheet--offset mx-auto"
      color="pink"
      elevation="12"
      max-width="calc(100% - 32px)"
    >
      <v-sparkline
        :labels="labels"
        :value="value"
        color="white"
        line-width="2"
        padding="16"
      ></v-sparkline>
    </v-sheet>

    <v-card-text class="pt-">
      <div class="title font-weight-bold mb-2">Distributors</div>
      <div class="subheading font-weight-bold grey--text">Last Distribution Performance</div>
      <v-divider class="my-2"></v-divider>
      <v-icon
        class="mr-2"
        small
      >
        mdi-clock
      </v-icon>
      <span class="caption grey--text font-weight-bold">Distributor sign in 16 minutes ago</span>
    </v-card-text>
  </v-card>
  </v-col>
  </v-row>
  </v-container>
</view-wrapper>
</template>

<script>
  export default {
    data: () => ({
      labels: [
        '12am',
        '3am',
        '6am',
        '9am',
        '12pm',
        '3pm',
        '6pm',
        '9pm',
      ],
      value: [
        200,
        675,
        410,
        390,
        310,
        460,
        250,
        240,
      ],
    }),
  }
</script>

<style>
  .v-sheet--offset {
    top: -24px;
    position: relative;
  }
 .mask {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 15px;
        margin-bottom: 50px;
      }
</style>
