<template>
<view-wrapper>
<v-container
 id="dashboard"
  fluid
  tag="section"
    >
    <v-row>
    <v-col
    cols="12"
     lg="12"
    >

  <v-card
    class="mt-4 mx-auto grey lighten-3 align-items-left"
    max-width="700"
  >

    <v-card-text>
      <div class="title font-weight-bold"><h4>Distributor's Link</h4></div>
      <v-divider class="my-2"></v-divider>
      <span class="caption grey--text font-weight-bold"><h5><a hreff='#'>https://downloads.tniglobal.org/dist/download{{getDistLink}}</a></h5></span>
    </v-card-text>
  </v-card>
  </v-col>
  </v-row>
  </v-container>
</view-wrapper>
</template>

<script>
  export default {
    computed: {
      getDistLink: () => {
        return localStorage.distLink
      },
    },
  }
</script>
