<template>
  <v-app id="translation">
      <v-container>
        <b-btn
        pill
        variant="info"
       outline="white"
        size="md"
         icon="clone"
         @click="$emit('changeComponent', {component: 'DistributorView', data: null})"
         >View Distributor</b-btn>
        <v-row
        align="center"
        justify="center"
        >
          <v-col
          cols="12"
          sm="8"
          md="4"
          >
            <v-card>
              <v-toolbar
                color="purple"
                dark
                flat
              >
                <v-toolbar-title>NEW DISTRIBUTOR</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <span>Source</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <div
                 v-if= serverError
                 class= "text-danger text-center center"
                  >
                 {{ errorMsg }}
               </div>
                <v-form>
                      <br>
                      <br>
                <b-form-file
                 id="resetTeam"
                 accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                 ref="file"
                  label="team Upload"
                  v-model="username"
                  name="teamUpload"
                  @change="onFileChange"
                ></b-form-file>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                type="submit"
                value="send"
                color="info"
                variant="primary"
                :disabled="resetTeam"
                @click="upload"
                 >
                 <b-spinner
                 v-if = "resetTeam === true"
                  variant="info"
                   label="Spinning"
                   ></b-spinner>
                 Invite</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <div v-if='isBatchReady'>
          <vue-good-table
            :columns="columns"
            :rows="processDataTable"
            :search-options="{
              enabled: true
            }"
            :pagination-options="{
              enabled: true,
              mode: 'pages'
            }"
          />
        </div>
      </v-container>
  </v-app>
</template>

<script>
  import XLSX from 'xlsx'
  export default {
    data () {
      return {
        username: '',
        email: '',
        phoneNumber: '',
        files: [],
        excelFile: [],
        teamDataSet: [],
        isBatchReady: false,
        max: 0,
        resetTeam: false,
        spinner: 0,
        serverError: false,
        errorMsg: '',
        rows: [],
        columns: [
          {
            label: 'Full Name',
            field: 'username',
          },
          {
            label: 'Phone Number',
            field: 'phoneNumber',
          },
          {
            label: 'Email',
            field: 'email',
          },
        ],
      }
    },
    computed: {
      processDataTable () {
        if (this.teamDataSet) {
          for (var i = 0; i < this.teamDataSet.length; i++) {
            // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          }
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.rows = this.teamDataSet
        }
        return this.rows
      },
    },
    methods: {
      onFileChange (e) {
        var files = e.target.files || e.dataTransfer.files
        if (files.length > 0) {
          return this.processExcel(files[0])
        }
      },
      processExcel (file) {
        var reader = new FileReader()
        reader.onload = (e) => {
          var data = new Uint8Array(e.target.result)
          var workbook = XLSX.read(data, { type: 'array' })
          var firstSheetName = workbook.SheetNames[0]
          var worksheet = workbook.Sheets[firstSheetName]
          const arrayOfRows = XLSX.utils.sheet_to_json(worksheet, { header: 1 })
          for (var i = 1; i <= arrayOfRows.length - 1; i++) {
            if (typeof arrayOfRows[i][0] !== 'undefined') {
              const teamObject = {
                username: `${arrayOfRows[i][0]}`,
                phoneNumber: `${arrayOfRows[i][1]}`,
                email: `${arrayOfRows[i][2]}`,
              }
              this.teamDataSet.push(teamObject)
            }
          }
          this.max = this.teamDataSet.length
          if (this.max > 0) {
            this.isBatchReady = true
          }
          // console.log('total teams:' + this.teamDataSet.length)
        }
        reader.readAsArrayBuffer(file)
      },
      loopThrough () {
        this.excelData.forEach(e => {
          // now e is an array of three objects
          // console.log(e[0]) // logs the object for surname firstname and lastname.
          // console.log(e[1]) // logs the object for center
          // console.log(e[2])// logs the object for the last
        })
      },
      onPickFile () {
        this.$refs.fileInput.click()
      },
      async upload () {
        const self = this
        self.resetTeam = !self.resetTeam
        // console.log(JSON.stringify(this.teamDataSet))
        this.axios.post(this.baseUrl + '/api/distributor/batch', this.teamDataSet)
          .then(res => {
            self.makeToast('success')
            // console.log(JSON.stringify(res))
            setTimeout(function () {
              self.resetTeam = !self.resetTeam
            }, 5000)
            self.$emit('changeComponent', { component: 'DistributionView', data: null })
          })
          .catch(error => {
            if (error.response.status === 422) {
              self.errorMsg = 'Distributor(s) already exist'
              self.serverError = true
              self.resetTeam = !self.resetTeam
            }
          })
      },
      makeToast (variant = null) {
        this.$bvToast.toast('Invite Was Sucessfull', {
          title: `Distributor  ${variant || 'Invite Was Sucessfull'}`,
          variant: variant,
          solid: true,
        })
      },
      makeToastErr (variant = null) {
        this.$bvToast.toast('Invite Was Unucessfull', {
          title: `Distributor ${variant || 'danger'}`,
          variant: variant,
          solid: true,
        })
      },
    },
  }

</script>
<style scoped>
.navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px),(max-width: 360px){
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
    max-width: 100px;
  }
    .items.carousel{
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media{
    background: aquamarine;
  }
  .items.carousel{
   height: 200;
 }
</style>
