<template>
  <v-container>
    <b-btn
    pill
    variant="info"
   outline="white"
    size="md"
     icon="clone"
     @click="$emit('changeComponent', {component: 'DistributorNew', data: null})"
     >Add New Distributors</b-btn>
     <b-btn
     class="float-right"
     pill
     variant="info"
    outline="white"
     size="md"
      icon="clone"
      @click="$emit('changeComponent', {component: 'DistributorBatch', data: null})"
      >Batch Distributors</b-btn>
  <base-material-card
    icon="mdi-clipboard-text"
    title="Record Grid"
    class="px-5 py-3"
  >
    <div>
      <vue-good-table
        :columns="columns"
        :rows="processDataTable"
        :search-options="{
          enabled: true
        }"
        :pagination-options="{
          enabled: true,
          mode: 'pages'
        }"
      />
    </div>
  </base-material-card>
  </v-container>
</template>

<script>
  export default {
    name: 'distributor',
    data () {
      return {
        distributor: [],
        columns: [
          {
            label: 'Names',
            field: 'username',
          },
          {
            label: 'Phone Number',
            field: 'phoneNumber',
          },
          {
            label: 'Email',
            field: 'email',
          },
        ],
        rows: [],
        errors: [],
        dataSet: {
          country: '',
          dateCreated: '',
        },
      }
    },
    computed: {
      processDataTable () {
        if (this.distributor) {
          for (var i = 0; i < this.distributor.length; i++) {
            // eslint-disable-next-line vue/no-side-effects-in-computed-properties
            this.distributor[i].btn = '<button  class="primary" style="color: #ffffff;">Manage</button>'
          }
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.rows = this.distributor
        }
        return this.rows
      },
    },
    beforeMount () {
      this.fetchDistributor()
    },
    methods: {
      mySearchFn (row, col, cellValue, searchTerm) {
        return cellValue === 'name'
      },
      fetchDistributor () {
        const self = this
        this.axios.get(this.baseUrl + '/api/distributor/')
          .then(response => {
            // console.log(JSON.stringify(response))
            // JSON responses are automatically parsed.
            self.distributor = response.data
            return self.distributor
          })
          .catch(e => {
            self.errors.push(e)
          })
      },
    },
  }
</script>
<style>

</style>
