<template>
  <v-app id="translation">
      <v-container>
        <b-btn
        pill
        variant="info"
       outline="white"
        size="md"
         icon="clone"
         @click="$emit('changeComponent', {component: 'LanguageView', data: null})"
         >View Languages</b-btn>
        <v-row
        align="center"
        justify="center"
        >
          <v-col
          cols="12"
          sm="8"
          md="4"
          >
            <v-card>
              <v-toolbar
                color="purple"
                dark
                flat
              >
                <v-toolbar-title>TNI LANGUAGES</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <span>Source</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <div
                 v-if= serverError
                 class= "text-danger text-center center"
                  >
                 {{ errorMsg }}
               </div>
                <v-form>
                      <br>
                      <br>
                <b-form-file
                 id="language"
                 accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                 ref="file"
                  label="Language Upload"
                  v-model="name"
                  name="languageUpload"
                  @change="onFileChange"
                ></b-form-file>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                type="submit"
                value="send"
                color="info"
                variant="primary"
                :disabled="resetLang"
                @click="upload"
                 >
                 <b-spinner
                 v-if = "resetLang === true"
                  variant="info"
                   label="Spinning"
                   ></b-spinner>
                 SUBMIT</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <div v-if='isBatchReady'>
          <vue-good-table
            :columns="columns"
            :rows="processDataTable"
            :search-options="{
              enabled: true
            }"
            :pagination-options="{
              enabled: true,
              mode: 'pages'
            }"
          />
        </div>
      </v-container>
  </v-app>
</template>

<script>
  import XLSX from 'xlsx'
  export default {
    data () {
      return {
        name: '',
        files: [],
        excelFile: [],
        languageDataSet: [],
        isBatchReady: false,
        max: 0,
        resetLang: false,
        serverError: false,
        errorMsg: '',
        spinner: 0,
        rows: [],
        columns: [
          {
            label: 'Languages',
            field: 'name',
          },
        ],
      }
    },
    computed: {
      processDataTable () {
        if (this.languageDataSet) {
          for (var i = 0; i < this.languageDataSet.length; i++) {
            // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          }
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.rows = this.languageDataSet
        }
        return this.rows
      },
    },
    methods: {
      onFileChange (e) {
        var files = e.target.files || e.dataTransfer.files
        if (files.length > 0) {
          return this.processExcel(files[0])
        }
      },
      processExcel (file) {
        var reader = new FileReader()
        reader.onload = (e) => {
          var data = new Uint8Array(e.target.result)
          var workbook = XLSX.read(data, { type: 'array' })
          var firstSheetName = workbook.SheetNames[0]
          var worksheet = workbook.Sheets[firstSheetName]
          const arrayOfRows = XLSX.utils.sheet_to_json(worksheet, { header: 1 })
          for (var i = 1; i <= arrayOfRows.length - 1; i++) {
            if (typeof arrayOfRows[i][0] !== 'undefined') {
              const languageObject = {
                name: `${arrayOfRows[i][0]}`,
              }
              this.languageDataSet.push(languageObject)
            }
          }
          this.max = this.languageDataSet.length
          if (this.max > 0) {
            this.isBatchReady = true
          }
          // console.log('total languages:' + this.languageDataSet.length)
        }
        reader.readAsArrayBuffer(file)
      },
      loopThrough () {
        this.excelData.forEach(e => {
          // now e is an array of three objects
          // console.log(e[0]) // logs the object for surname firstname and lastname.
          // console.log(e[1]) // logs the object for center
          // console.log(e[2])// logs the object for the last
        })
      },
      onPickFile () {
        this.$refs.fileInput.click()
      },
      async upload () {
        const self = this
        self.resetLang = !self.resetLang
        // console.log(JSON.stringify(this.languageDataSet))
        this.axios.post(this.baseUrl + '/api/language/batch', this.languageDataSet)
          .then(res => {
            self.makeToast('success')
            setTimeout(function () {
              self.resetLang = !self.resetLang
              self.$emit('changeComponent', { component: 'LanguageView', data: null })
              this.languageDataSet = ''
            }, 5000)
          })
          .catch(error => {
            if (error.response.status === 422) {
              self.errorMsg = 'this batch contains duplicated Languages'
              self.serverError = true
              self.resetLang = !self.resetLang
            }
          })
      },
      makeToast (variant = null) {
        this.$bvToast.toast('Languages Successfully Added', {
          title: `Add Language ${variant || 'success'}`,
          variant: variant,
          solid: true,
        })
      },
      makeToastErr (variant = null) {
        this.$bvToast.toast('Languages was not Added', {
          title: `Add Language ${variant || 'danger'}`,
          variant: variant,
          solid: true,
        })
      },
    },
  }

</script>
<style scoped>
.navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px),(max-width: 360px){
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
    max-width: 100px;
  }
    .items.carousel{
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media{
    background: aquamarine;
  }
  .items.carousel{
   height: 200;
 }
</style>
