<template>
  <v-app id="translation">
      <v-container>
        <b-btn
        pill
        variant="info"
       outline="white"
        size="md"
         icon="clone"
         @click="$emit('changeComponent', {component: 'LanguageView', data: null})"
         >View Languages</b-btn>
        <v-row
        align="center"
        justify="center"
        >
          <v-col
          cols="12"
          sm="8"
          md="4"
          >
            <v-card>
              <v-toolbar
                color="purple"
                dark
                flat
              >
                <v-toolbar-title>TNI LANGUAGES</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <span>Source</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <div
                   v-if= serverError
                   class= "text-danger text-center center"
                    >
                   {{ errorMsg }}
                 </div>
                  <v-text-field
                    id="name"
                    label="name"
                    v-model="name"
                    name="name"
                  ></v-text-field>
                  <br>
                  <br>
                  <!-- <b-form-select
                  v-model="country"
                  >
                    <option
                     disabled
                      value=""
                      >Select a Country</option>
                      <option
                      v-for= "country in countries"
                      :key="country.value"
                      >{{ country.value }}</option>
                  </b-form-select>
                  <br> -->
                     <br>
                     <vue-select
                     :options= "country"
                     >

                   </vue-select>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                type="submit"
                value="send"
                color="info"
                variant="primary"
                @click="upload"
                 >
                 SUBMIT</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
  </v-app>
</template>

<script>
  export default {
    components: {
      'vue-select':
        require('vue-select'),
    },
    data () {
      return {
        serverError: false,
        errorMsg: '',
        name: '',
        // country: null,
        country: '',
        countries: [
          { value: 'Afghanistan' },
          { value: 'Åland Islands' },
          { value: 'Albania' },
          { value: 'Algeria' },
          { value: 'American Samoa' },
          { value: 'Andorra' },
          { value: 'Angola' },
          { value: 'Anguilla' },
          { value: 'Antarctica' },
          { value: 'Antigua and Barbuda' },
          { value: 'Argentina' },
          { value: 'Armenia' },
          { value: 'Aruba' },
          { value: 'Australia' },
          { value: 'Austria' },
          { value: 'Azerbaijan' },
          { value: 'Bahamas' },
          { value: 'Bahrain' },
          { value: 'Bangladesh' },
          { value: 'Barbados' },
          { value: 'Belarus' },
          { value: 'Belgium' },
          { value: 'Belize' },
          { value: 'Benin' },
          { value: 'Bermuda' },
          { value: 'Bhutan' },
          { value: 'Bolivia, Plurinational State' },
          { value: 'Bonaire, Sint Eustatius and Saba' },
          { value: 'Bosnia and Herzegovina' },
          { value: 'Botswana' },
          { value: 'Bouvet Island' },
          { value: 'Brazil' },
          { value: 'British Indian Ocean Territory' },
          { value: 'Brunei Darussalam' },
          { value: 'Bulgaria' },
          { value: 'Burkina Faso' },
          { value: 'Burundi' },
          { value: 'Cambodia' },
          { value: 'Cameroon' },
          { value: 'Canada' },
          { value: 'Cape Verde' },
          { value: 'Cayman Islands' },
          { value: 'Central African Republic' },
          { value: 'Chad' },
          { value: 'Chile' },
          { value: 'China' },
          { value: 'Christmas Island' },
          { value: 'Cocos (Keeling) Islands' },
          { value: 'Colombia' },
          { value: 'Comoros' },
          { value: 'Congo' },
          { value: 'Congo, the Democratic Republic' },
          { value: 'Cook Islands' },
          { value: 'Costa Rica' },
          { value: 'Côte d Ivoire' },
          { value: 'Croatia' },
          { value: 'Cuba' },
          { value: 'Curaçao' },
          { value: 'Cyprus' },
          { value: 'Czech Republic' },
          { value: 'Denmark' },
          { value: 'Djibouti' },
          { value: 'Dominica' },
          { value: 'Dominican Republic' },
          { value: 'Ecuador' },
          { value: 'Egypt' },
          { value: 'El Salvador' },
          { value: 'Equatorial Guinea' },
          { value: 'Eritrea' },
          { value: 'Estonia' },
          { value: 'Ethiopia' },
          { value: 'Falkland Islands (Malvinas)' },
          { value: 'Faroe Islands' },
          { value: 'Fiji' },
          { value: 'Finland' },
          { value: 'France' },
          { value: 'French Guiana' },
          { value: 'French Polynesia' },
          { value: 'French Southern Territories' },
          { value: 'Gabon' },
          { value: 'Gambia' },
          { value: 'Georgia' },
          { value: 'Germany' },
          { value: 'Ghana' },
          { value: 'Gibraltar' },
          { value: 'Greece' },
          { value: 'Greenland' },
          { value: 'Grenada' },
          { value: 'Guadeloupe' },
          { value: 'Guam' },
          { value: 'Guatemala' },
          { value: 'Guernsey' },
          { value: 'Guinea' },
          { value: 'Guinea-Bissau' },
          { value: 'Guyana' },
          { value: 'Haiti' },
          { value: 'Heard Island and McDonald Islands' },
          { value: 'Holy See (Vatican City State)' },
          { value: 'Honduras' },
          { value: 'Hong Kong' },
          { value: 'Hungary' },
          { value: 'Iceland' },
          { value: 'India' },
          { value: 'Indonesia' },
          { value: 'Iran, Islamic Republic' },
          { value: 'Iraq' },
          { value: 'Ireland' },
          { value: 'Isle of Man' },
          { value: 'Israel' },
          { value: 'Italy' },
          { value: 'Jamaica' },
          { value: 'Japan' },
          { value: 'Jersey' },
          { value: 'Jordan' },
          { value: 'Kazakhstan' },
          { value: 'Kenya' },
          { value: 'Kiribati' },
          { value: 'Korea' },
          { value: 'Kuwait' },
          { value: 'Kyrgyzstan' },
          { value: 'Lao Peoples Democratic Republic' },
          { value: 'Latvia' },
          { value: 'Lebanon' },
          { value: 'Lesotho' },
          { value: 'Liberia' },
          { value: 'Libya' },
          { value: 'Liechtenstein' },
          { value: 'Lithuania' },
          { value: 'Luxembourg' },
          { value: 'Macao' },
          { value: 'Macedonia, the Former Yugoslav Republic' },
          { value: 'Madagascar' },
          { value: 'Malawi' },
          { value: 'Malaysia' },
          { value: 'Maldives' },
          { value: 'Mali' },
          { value: 'Malta' },
          { value: 'Marshall Islands' },
          { value: 'Martinique' },
          { value: 'Mauritania' },
          { value: 'Mauritius' },
          { value: 'Mayotte' },
          { value: 'Mexico' },
          { value: 'Micronesia, Federated States' },
          { value: 'Moldova, Republic ' },
          { value: 'Monaco' },
          { value: 'Mongolia' },
          { value: 'Montenegro' },
          { value: 'Montserrat' },
          { value: 'Morocco' },
          { value: 'Mozambique' },
          { value: 'Myanmar' },
          { value: 'Namibia' },
          { value: 'Nauru' },
          { value: 'Nepal' },
          { value: 'Netherlands' },
          { value: 'New Caledonia' },
          { value: 'New Zealand' },
          { value: 'Nicaragua' },
          { value: 'Niger' },
          { value: 'Nigeria' },
          { value: 'Niue' },
          { value: 'Norfolk Island' },
          { value: 'Northern Mariana Islands' },
          { value: 'Norway' },
          { value: 'Oman' },
          { value: 'Pakistan' },
          { value: 'Palau' },
          { value: 'Palestine, State of' },
          { value: 'Panama' },
          { value: 'Papua New Guinea' },
          { value: 'Paraguay' },
          { value: 'Peru' },
          { value: 'Philippines' },
          { value: 'Pitcairn' },
          { value: 'Poland' },
          { value: 'Portugal' },
          { value: 'Puerto Rico' },
          { value: 'Qatar' },
          { value: 'Réunion' },
          { value: 'Romania' },
          { value: 'Russian Federation' },
          { value: 'Rwanda' },
          { value: 'Saint Barthélemy' },
          { value: 'Saint Helena, Ascension and Tristan da Cunha' },
          { value: 'Saint Kitts and Nevis' },
          { value: 'Saint Lucia' },
          { value: 'Saint Martin (French part)' },
          { value: 'Saint Pierre and Miquelon' },
          { value: 'Saint Vincent and the Grenadines' },
          { value: 'Samoa' },
          { value: 'San Marino' },
          { value: 'Sao Tome and Principe' },
          { value: 'Saudi Arabia' },
          { value: 'Senegal' },
          { value: 'Serbia' },
          { value: 'Seychelles' },
          { value: 'Sierra Leone' },
          { value: 'Singapore' },
          { value: 'Sint Maarten (Dutch part)' },
          { value: 'Slovakia' },
          { value: 'Slovenia' },
          { value: 'Solomon Islands' },
          { value: 'Somalia' },
          { value: 'South Africa' },
          { value: 'South Georgia and the South Sandwich Islands' },
          { value: 'South Sudan' },
          { value: 'Spain' },
          { value: 'Sri Lanka' },
          { value: 'Sudan' },
          { value: 'Suriname' },
          { value: 'Svalbard and Jan Mayen' },
          { value: 'Swaziland' },
          { value: 'Sweden' },
          { value: 'Switzerland' },
          { value: 'Syrian Arab Republic' },
          { value: 'Taiwan, Province of China' },
          { value: 'Tajikistan' },
          { value: 'Tanzania, United Republic of' },
          { value: 'Thailand' },
          { value: 'Timor-Leste' },
          { value: 'Togo' },
          { value: 'Tokelau' },
          { value: 'Tonga' },
          { value: 'Trinidad and Tobago' },
          { value: 'Tunisia' },
          { value: 'Turkey' },
          { value: 'Turkmenistan' },
          { value: 'Turks and Caicos Islands' },
          { value: 'Tuvalu' },
          { value: 'Uganda' },
          { value: 'Ukraine' },
          { value: 'United Arab Emirates' },
          { value: 'United Kingdom' },
          { value: 'United States' },
          { value: 'United States Minor Outlying Islands' },
          { value: 'Uruguay' },
          { value: 'Uzbekistan' },
          { value: 'Vanuatu' },
          { value: 'Venezuela' },
          { value: 'Bolivarian Republic' },
          { value: 'Viet Nam' },
          { value: 'Virgin Islands, British' },
          { value: 'Virgin Islands, U.S.' },
          { value: 'Wallis and Futuna' },
          { value: 'Western Sahara' },
          { value: 'Yemen' },
          { value: 'Zambia' },
          { value: 'Zimbabwe' },
        ],
      }
    },
    methods: {
      async upload () {
        if (!this.name) {
          alert('Name is required')
          return false
        }
        // if (!this.country) {
        //   alert('Country is required')
        //   return false
        // }

        const form = {
          name: this.name,
          // country: this.country,
        }
        const self = this
        // console.log(JSON.stringify(form))
        this.axios.post(this.baseUrl + '/api/language/create', form)
          .then(res => {
            this.name = ''
            // this.country = ''
            this.makeToast('success')
          })
          .catch(error => {
            if (error.response.status === 422) {
              self.errorMsg = `[ ${this.name} ] Language already exist`
              self.serverError = true
            }
          })
      },
      makeToast (variant = null) {
        this.$bvToast.toast('Language Successfully Added', {
          title: `Add Language ${variant || 'success'}`,
          variant: variant,
          solid: true,
        })
      },
    },
  }

</script>
<style scoped>
.navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px),(max-width: 360px){
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
    max-width: 100px;
  }
    .items.carousel{
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media{
    background: aquamarine;
  }
  .items.carousel{
   height: 200;
 }
</style>
