<template>
  <v-container>

  <base-material-card
    icon="mdi-clipboard-text"
    title="Record Grid"
    class="px-5 py-3"
  >
    <div>
      <vue-good-table
        :columns="columns"
        :rows="processDataTable"
        :search-options="{
          enabled: true
        }"
        :pagination-options="{
          enabled: true,
          mode: 'pages'
        }"
        @on-cell-click="onCellClick"
      />
    </div>
  </base-material-card>
  </v-container>
</template>

<script>
  export default {
    name: 'languages',
    data () {
      return {
        languages: [],
        columns: [
          {
            label: 'Name',
            field: 'name',
          },
          {
            label: 'Country',
            field: 'country',
          },
          {
            label: 'DateCreated',
            field: 'dateCreated',
          },
          {
            label: 'Action',
            field: 'btn',
            html: true,
          },
        ],
        rows: [],
        errors: [],
        dataSet: {
          name: '',
          country: '',
          dateCreated: '',
        },
      }
    },
    computed: {
      processDataTable () {
        if (this.languages) {
          for (var i = 0; i < this.languages.length; i++) {
            // eslint-disable-next-line vue/no-side-effects-in-computed-properties
            this.languages[i].btn = '<button  class="primary" style="color: #ffffff;">Manage</button>'
          }
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.rows = this.languages
        }
        return this.rows
      },
    },
    beforeMount () {
      this.fetchLanguage()
    },
    methods: {
      mySearchFn (row, col, cellValue, searchTerm) {
        return cellValue === 'name'
      },
      fetchLanguage () {
        const self = this
        this.axios.get(this.baseUrl + '/api/language/')
          .then(response => {
            // console.log(JSON.stringify(response))
            // JSON responses are automatically parsed.
            self.languages = response.data
            return self.languages
          })
          .catch(e => {
            self.errors.push(e)
          })
      },
    },
  }
</script>
<style>

</style>
