<template>
  <v-container>
  <base-material-card
    icon="mdi-clipboard-text"
    title="Record Grid"
    class="px-5 py-3"
  >
    <div>
      <vue-good-table
        :columns="columns"
        :rows="processDataTable"
        :search-options="{
          enabled: true
        }"
        :pagination-options="{
          enabled: true,
          mode: 'pages'
        }"
        @on-cell-click="onCellClick"
      />
    </div>
  </base-material-card>
  </v-container>
</template>

<script>
  export default {
    name: 'teams',
    data () {
      return {
        teams: [],
        columns: [
          {
            label: 'Names',
            field: 'name',
          },
          {
            label: 'Email',
            field: 'email',
          },
          {
            label: 'Phone Number',
            field: 'phoneNumber',
          },
          {
            label: 'Team Leader Name',
            field: 'teamLeaderName',
          },
        ],
        rows: [],
        errors: [],
        dataSet: {
          name: '',
          country: '',
          dateCreated: '',
        },
      }
    },
    computed: {
      processDataTable () {
        if (this.teams) {
          for (var i = 0; i < this.teams.length; i++) {
            // eslint-disable-next-line vue/no-side-effects-in-computed-properties
            this.teams[i].btn = '<button  class="primary" style="color: #ffffff;">Manage</button>'
          }
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.rows = this.teams
        }
        return this.rows
      },
    },
    beforeMount () {
      this.fetchTeam()
    },
    methods: {
      mySearchFn (row, col, cellValue, searchTerm) {
        return cellValue === 'name'
      },
      fetchTeam () {
        const self = this
        this.axios.get(this.baseUrl + '/api/team/')
          .then(response => {
            // console.log(JSON.stringify(response))
            // JSON responses are automatically parsed.
            self.teams = response.data
            return self.teams
          })
          .catch(e => {
            self.errors.push(e)
          })
      },
    },
  }
</script>
<style>

</style>
