<template>
  <v-app id="translation">
      <v-container>
        <b-btn
        pill
        variant="info"
       outline="white"
        size="md"
         icon="clone"
         @click="$emit('changeComponent', {component: 'TeamView', data: null})"
         >View Teamss</b-btn>
        <v-row
        align="center"
        justify="center"
        >
          <v-col
          cols="12"
          sm="8"
          md="4"
          >
            <v-card>
              <v-toolbar
                color="purple"
                dark
                flat
              >
                <v-toolbar-title>ADD A TEAM MEMBER</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <span>Source</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <div
                   v-if= serverError
                   class= "text-danger text-center center"
                    >
                   {{ errorMsg }}
                 </div>
                  <v-text-field
                    id="name"
                    label="name"
                    v-model="name"
                    name="name"
                  ></v-text-field>
                     <br>
                     <v-text-field
                       id="TeamLeaderName"
                       label="teamLeaderName"
                       v-model="teamLeaderName"
                       name="teamLeaderName"
                     ></v-text-field>
                        <br>
                        <v-text-field
                          id="phoneNumber"
                          label="phoneNumber"
                          v-model="phoneNumber"
                          name="phoneNumber"
                        ></v-text-field>
                           <br>
                     <v-text-field
                       id="email"
                       label="email"
                       v-model="email"
                       name="email"
                     ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                type="submit"
                value="send"
                color="info"
                :disabled="resetLang"
                @click="upload"
                 >
                 <b-spinner
                 v-if = "resetLang === true"
                  variant="info"
                   label="Spinning"
                   ></b-spinner>
                 ADD TEAM</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        serverError: false,
        errorMsg: '',
        name: '',
        email: '',
        phoneNumber: '',
        teamLeaderName: '',
        resetLang: false,
        spinner: 0,
      }
    },
    computed: {

    },
    methods: {
      async upload () {
        if (!this.name) {
          alert('Name is required')
          return false
        }
        if (!this.teamLeaderName) {
          alert('TeamLeaderName is required')
          return false
        }
        if (!this.phoneNumber) {
          alert('PhoneNumber is required')
          return false
        }
        if (!this.email) {
          alert('Email is required')
          return false
        }
        const form = {
          name: this.name,
          email: this.email,
          phoneNumber: this.phoneNumber,
          teamLeaderName: this.teamLeaderName,
        }
        // console.log(form)
        const self = this
        self.resetLang = !self.resetLang
        this.axios.post(this.baseUrl + '/api/team/create', form)
          .then(res => {
            setTimeout(function () {
              //  self.$emit('changeComponent', { component: 'Languageview', data: null })
              self.makeToast('success')
              self.resetLang = !self.resetLang
            }, 5000)
            this.name = ''
            this.phoneNumber = ''
            this.email = ''
            this.teamLeaderName = ''
          })
          .catch(error => {
            if (error.response.status === 422) {
              self.errorMsg = 'This Team Member already exists'
              self.serverError = true
              self.resetLang = !self.resetLang
            }
          })
      },
      makeToast (variant = null) {
        this.$bvToast.toast('Team Added Successfully', {
          title: `Team ${variant || 'Member'}`,
          variant: variant,
          solid: true,
        })
      },
    },
  }

</script>
<style scoped>
.navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px),(max-width: 360px){
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
    max-width: 100px;
  }
    .items.carousel{
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media{
    background: aquamarine;
  }
  .items.carousel{
   height: 200;
 }
</style>
