<template>
  <v-app id="translation">
      <v-container>
        <b-btn
        pill
        variant="info"
       outline="white"
        size="md"
         icon="clone"
         @click="$emit('changeComponent', {component: 'Translationview', data: null})"
         >View Translations</b-btn>
        <v-row
        align="center"
        justify="center"
        >
          <v-col
          cols="12"
          sm="8"
          md="4"
          >
            <v-card>
              <v-toolbar
                color="purple"
                dark
                flat
              >
                <v-toolbar-title>SINGLE UPLOADS</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <span>Source</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <div
                 v-if= serverError
                 class= "text-danger text-center center"
                  >
                 {{ errorMsg }}
               </div>
                <v-form>
                  <div>
                    <Select2
                    label="Select A Language"
                    v-model="language"
                    placeholder="Select A language"
                      :options="languages"
                       :settings="{ settingOption: languages, settingOption: languages }"
                         />
                  </div>
                  <br>
                  <b-form-select
                   v-model="month"
                   >
                    <option
                     disabled
                      value=""
                      >Select a Month</option>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                  </b-form-select>
                  <br>
                     <br>
                     <b-form-select
                      v-model="docType"
                      >
                       <option
                        disabled
                         value=""
                         >Document Type</option>
                       <option>PDF</option>
                       <option>MP3</option>
                     </b-form-select>
                     <br>
                     <br>
                     <v-text-field
                       id="year"
                       label="Year"
                       v-model="year"
                       name="Year"
                     ></v-text-field>
                     <b-form-file
                      id="fileUpload"
                      ref="fileUpload"
                       label=" ROR fileUpload"
                       v-model="fileUpload"
                       name="fileUpload"
                       @change="handleFileChange"
                     ></b-form-file>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                type="submit"
                value="send"
                color="info"
                :disabled="resetLang"
                @click="upload"
                 >
                 <b-spinner
                 v-if = "resetLang === true"
                  variant="info"
                   label="Spinning"
                   ></b-spinner>
                 UPLOAD</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        language: '',
        languages: [],
        month: '',
        docType: '',
        year: '',
        fileUpload: File,
        resetLang: false,
        spinner: 0,
        serverError: false,
        errorMsg: '',
        newFileName: '',
      }
    },
    props: {
      value: File,
    },
    beforeMount () {
      this.fetchLanguage()
    },
    computed: {
      processLanguages () {
        return this.languages
      },
    },
    methods: {
      fetchLanguage () {
        const self = this
        this.axios.get(this.baseUrl + '/api/language/')
          .then(response => {
            for (var i = 0; i < response.data.length; i++) {
              const langlObj = response.data[i]
              // this.languages.push({ id: translObj.id, name:translObj.language })
              self.languages.push(langlObj.name)
            }
            // console.log(JSON.stringify(response.data))
            // JSON responses are automatically parsed.
            return self.languages
          })
          .catch(e => {
            self.errors.push(e)
          })
      },
      handleFileChange (e) {
        // this.$emit('input', e.target.files[0])
        this.fileUpload = e.target.files[0]
        this.newFileName = this.fileUpload.name.replace(/  +/g, ' ')
        this.newFileName = this.newFileName.replace(/\s/g, '_')
      },
      async upload () {
        if (!this.language) {
          alert('language is required')
          return false
        }
        if (!this.month) {
          alert('month is required')
          return false
        }
        if (!this.docType) {
          alert('doctype is required')
          return false
        }
        if (!this.year) {
          alert('year is required')
          return false
        }
        if (!this.fileUpload) {
          alert('fileUpload is required')
          return false
        }
        const formData = new FormData()
        formData.append('language', this.language)
        formData.append('month', this.month)
        formData.append('docType', this.docType)
        formData.append('year', this.year)
        formData.append('pdf', this.fileUpload, this.newFileName)
        const self = this
        self.resetLang = !self.resetLang
        // console.log('formData', formData)
        this.axios.post(this.baseUrl + '/api/translation/pdf', formData)
          .then(res => {
            self.resetLang = !self.resetLang
            this.language = ''
            this.month = ''
            this.docType = ''
            this.year = ''
            this.fileUpload = ''
            this.makeToast('success')
            // console.log(res)
          })
          .catch(error => {
            if (error.response.status === 422) {
              self.errorMsg = 'This Translation already exists'
              self.serverError = true
              self.resetLang = !self.resetLang
            }
          })
      },
      makeToast (variant = null) {
        this.$bvToast.toast('upload Successful', {
          title: `Upload ${variant || 'success'}`,
          variant: variant,
          solid: true,
        })
      },
    },
  }

</script>
<style scoped>
.navbar {
    transition: 1s;
    background-color: #424f95 !important;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  @media (max-width: 360px),(max-width: 360px){
    .navbar {
      background-color: #424f95 !important;
    }
    .img {
      max-width: 360;
    }

    .navbar-brand {
    max-width: 100px;
  }
    .items.carousel{
      max-width: 360px;
    }
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
  .form {
    background: coral;
  }
  .media{
    background: aquamarine;
  }
  .items.carousel{
   height: 200;
 }
</style>
