<template>
  <v-container>
    <b-btn
    pill
    variant="info"
   outline="white"
    size="md"
     icon="clone"
     @click="$emit('changeComponent', {component: 'TranslationNew', data: null})"
     >Upload Translation</b-btn>
     <b-btn
     class="float-right"
     pill
     variant="info"
    outline="white"
     size="md"
      icon="clone"
      @click="$emit('changeComponent', {component: 'TranslationBatch', data: null})"
      >Batch Translation</b-btn>
      <base-material-card
        icon="mdi-clipboard-text"
        title="Record Grid"
        class="px-5 py-3"
      >
        <div>
          <vue-good-table
            :columns="columns"
            :rows="processDataTable"
            :search-options="{
              enabled: true
            }"
            :pagination-options="{
              enabled: true,
              mode: 'pages'
            }"
            @on-cell-click="onCellClick"
          />
        </div>
      </base-material-card>
  </v-container>
</template>

<script>
  export default {
    name: 'translations',
    data () {
      return {
        translations: [],
        columns: [
          {
            label: 'Language',
            field: 'language',
          },
          {
            label: 'Month',
            field: 'month',
          },
          {
            label: 'Year',
            field: 'year',
          },
          {
            label: 'DocType',
            field: 'docType',
          },
          {
            label: 'FileNAme',
            field: 'fileName',
          },
          {
            label: 'DataUrl',
            field: 'dataURL',
          },
          {
            label: 'DateCreated',
            field: 'dateCreated',
          },
          {
            label: 'Action',
            field: 'btn',
            html: true,
          },
        ],
        rows: [],
        errors: [],
        dataSet: {
          language: '',
          month: '',
          year: '',
          docType: '',
          fileName: '',
          dataURL: '',
          dateCreated: '',
        },
      }
    },
    computed: {
      processDataTable () {
        if (this.translations) {
          for (var i = 0; i < this.translations.length; i++) {
            // eslint-disable-next-line vue/no-side-effects-in-computed-properties
            this.translations[i].btn = '<button  class="primary" style="color: #ffffff;">Manage</button>'
          }
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.rows = this.translations
        }
        return this.rows
      },
    },
    beforeMount () {
      this.fetchTranslation()
    },
    methods: {
      onClick (link, fileName) {
        // console.log(link)
        // this.axios({
        //   url: this.baseUrl + link,
        //   method: 'GET',
        //   responseType: 'blob',
        // })
        this.axios.get(this.baseUrl + link, { responseType: 'blob' })
          .then((response) => {
            var fileURL = window.URL.createObjectURL(new Blob([response.data]))
            var fileLink = document.createElement('a')
            fileLink.href = fileURL
            fileLink.setAttribute('download', fileName)
            document.body.appendChild(fileLink)
            fileLink.click()
          })
      },
      mySearchFn (row, col, cellValue, searchTerm) {
        return cellValue === 'name'
      },
      fetchTranslation () {
        const self = this
        this.axios.get(this.baseUrl + '/api/translation/')
          .then(response => {
            // console.log(JSON.stringify(response))
            // JSON responses are automatically parsed.
            self.translations = response.data
            return self.translations
          })
          .catch(e => {
            self.errors.push(e)
          })
      },
    },
  }
</script>

<style>

</style>
