<template>
  <div>
    <mdb-container>
      <b-btn
      pill
      variant="info"
     outline="white"
      size="md"
       icon="clone"
       @click="$emit('changeComponent', {component: 'Translationview', data: null})"
       >View Translations</b-btn>
     </mdb-container>
     <div
      v-if= serverError
      class= "text-danger text-center center"
       >
      {{ errorMsg }}
    </div>
              <form-wizard @on-complete="onComplete">
                <tab-content title="Select Month & Year">
                  <b-form-select
                   v-model="month"
                   >
                    <option
                     disabled
                      value=""
                      >Select a Month</option>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                  </b-form-select>
                  <br>
                     <br>
                     <b-form-select
                      v-model="docType"
                      @change="setFilePath"
                      >
                       <option
                        disabled
                         value=""
                         >Document Type</option>
                       <option>PDF</option>
                       <option>MP3</option>
                     </b-form-select>
                  <br>
                     <br>
                     <v-text-field
                       id="year"
                       label="Year"
                       v-model="year"
                       name="Year"
                     ></v-text-field>
                </tab-content>
          <!-- <tab-content title="Select Languages">
            <b-form-select
            :select-size="10"
            multiple
             v-model="selectedLangauges"
             >
             <option
              disabled
               value=""
               >Select Language</option>
             <option
              v-for="language in languages"
               v-bind:key ="language._id"
                >{{ language.name }}</option>
             </b-form-select>
             <div class="mt-3">Selected: <strong>{{ selectedLangauges }}</strong>
             </div>
          </tab-content> -->
          <tab-content title="Select Translations">
            <div class="large-12 medium-12 small-12 cell">
            <label>
              <input
               type="file"
                id="files"
                ref="file_input"
                   multiple
                    v-on:change="handleFileUploads()"
                   />
            </label>
             <div  v-if="getEventStatus">
               <span class="text-red">Rejected Files</span>
               <ul>
                 <li
                 class="text-danger"
                  v-for="file in rejectedFiles"
                   :key="file.id"
                   >
                    <span>{{ file.number }}</span> <span>File  {{ file.name }}</span>
                 </li>
               </ul>
              <h5>Total Files:  <span class="text-danger">{{totalFiles}}</span></h5>
              <h5>Total Files Size:  <span class="text-danger"> {{totalFileSize}} KB</span></h5>
              <h5>Total Rejected Files:  <span class="text-danger"> {{rejectedFiles.length}}</span></h5>
            <!-- <b-form-select
            :select-size="10"
            multiple
             v-model="selectLangauges"
             >
             <option
              disabled
               value=""
               >Select Language</option>
             <option
              v-for="language in languages"
               v-bind:key ="language._id"
                >{{ language.name }}</option>
             </b-form-select>
             <div class="mt-3">Selected: <strong>{{ getLanguage }}</strong>
             </div> -->
               <vue-good-table
                 :columns="columns"
                 :rows="processDataTable"
                 :search-options="{
                   enabled: true
                 }"
                 :pagination-options="{
                   enabled: true,
                   mode: 'pages'
                 }"
               />
             </div>
             </div>
           </tab-content>

          </form-wizard>
          <mdb-container>
            <div
             v-if= serverError
             class= "text-danger text-center center"
              >
             {{ errorMsg }}
           </div>
        <mdb-progress
         :height="20"
          :value="progress"
          >{{progress}}%</mdb-progress>
      </mdb-container>
  </div>
</template>
<script>
  import { mdbContainer, mdbProgress } from 'mdbvue'
  export default {
    name: 'ProgressProPage',
    components: {
      mdbContainer,
      mdbProgress,
    },
    data () {
      return {
        docType: '',
        month: '',
        year: '',
        rejectedFiles: [],
        validFiles: [],
        validTranslations: [],
        language: '',
        selectedLangauges: [],
        languages: [],
        selectedFiles: undefined,
        currentFile: undefined,
        progress: 0,
        message: '',
        fileInfos: [],
        filePath: '',
        images: [],
        fileData: null,
        filesLoaded: false,
        totalFiles: 0,
        totalFileSize: 0,
        serverError: false,
        errorMsg: '',
        translationDataSet: [],
        buildList: [],
        columns: [
          {
            label: 'Name',
            field: 'fileName',
          },
          {
            label: 'LanguFileage',
            field: 'language',
          },
          {
            label: 'dataUrl',
            field: 'dataURL',
          },
          {
            label: 'Action',
            field: 'btn',
            html: true,
          },
        ],
        rows: [],
      }
    },
    beforeMount () {
      this.fetchLanguage()
    },
    computed: {
      processDataTable () {
        if (this.translationDataSet) {
          for (var i = 0; i < this.translationDataSet.length; i++) {
            // eslint-disable-next-line vue/no-side-effects-in-computed-properties
            this.translationDataSet[i].btn = '<button  class="primary" style="color: #ffffff;">Manage</button>'
          }
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.rows = this.translationDataSet
        }
        return this.rows
      },
      // getLanguage () {
      //   return this.buildTranslationList(this.langauges)
      // },
      getEventStatus () {
        return this.filesLoaded
      },
      processArtisans () {
        return this.translationDataSet
      },
      processLanguages () {
        return this.languages
      },
    },
    methods: {
      setFilePath (evt) {
        this.filePath = (evt === 'MP3') ? '/public/media/mp3/' : '/public/media/pdf/'
      },
      onComplete () {
        // formData.append('data', this.translationDataSet)
        // console.log('uploads', formData)
        // // console.log('data', JSON.stringify(this.translationDataSet))
        // this.axios.post(this.baseUrl + '/api/translation/upload_ror', formData)
        //   .then(res => {
        //     console.log('response', res)
        //     if (res.data.files) {
        //       this.submitTranslations()
        //     }
        //   })
        const formData = new FormData()
        for (var i = 0; i < this.validFiles.length; i++) {
          const fileName = this.validFiles[i].name.replace(/  +/g, ' ')
          const newFileName = fileName.replace(/\s/g, '_')
          formData.append('upload[]', this.validFiles[i], newFileName)
        }
        const self = this
        var xhr = new XMLHttpRequest()
        // your url upload
        xhr.open('post', this.baseUrl + '/api/translation/upload_ror', true)

        xhr.upload.onprogress = function (e) {
          if (e.lengthComputable) {
            self.progress = Math.round((e.loaded / e.total) * 100)
            // console.log(self.progress + '%')
          }
        }
        xhr.onerror = function (e) {
          // console.log('Error')
          // console.log(e)
        }
        xhr.onsuccess = function (e) {
          // console.log('=========Success==========')
          // console.log(e)
        }
        xhr.onload = function () {
          if (this.statusText === 'OK') {
            self.submitTranslations()
          }
          // console.log(this.statusText)
        }
        xhr.send(formData)
      },
      submitTranslations () {
        const self = this
        // console.log(this.validTranslations)
        this.axios.post(this.baseUrl + '/api/translation/create', this.validTranslations)
          .then(res => {
            self.makeToast('success')
            setTimeout(function () {
              self.$emit('changeComponent', { component: 'Translationview', data: null })
            }, 5000)
            // console.log(res)value
          })
          .catch(error => {
            if (error.response.status === 422) {
              self.errorMsg = 'One or More Translation(s) Already Exists'
              self.serverError = true
              self.resetLang = !self.resetLang
            }
          })
      },
      makeToast (variant = null) {
        this.$bvToast.toast('upload Successful', {
          title: `Upload ${variant || 'success'}`,
          variant: variant,
          solid: true,
        })
      },
      buildTranslationList (languages) {
        this.buildList = []
        for (var l = 0; l < languages.length; l++) {
          this.buildList.push({ lang: languages[l], file: this.files[languages[l]].name })
        }
        //  console.log('buildList', JSON.stringify(this.buildList))

        return this.buildList
      },
      selectFile () {
        this.selectedFiles = this.$refs.file.files
      },
      fetchLanguage () {
        const self = this
        this.axios.get(this.baseUrl + '/api/language/')
          .then(response => {
            //  console.log(JSON.stringify(response.data))
            // JSON responses are automatically parsed.
            if (response.data) {
              for (var i = 0; i < response.data.length; i++) {
                self.languages.push(response.data[i].name)
              }
            }

            return self.languages
          }).then(languages => {
            self.buildTranslationList(languages)
          })
          .catch(e => {
            // self.errors.push(e)
          })
      },
      filterLanguages (fromFileName) {
        return fromFileName
      },
      trimFileName (fileName) {
        return fileName.replace(/ +(?= )/g, '')
      },
      handleFileUploads: function () {
        var files = this.$refs.file_input.files
        this.fileData = new FormData()
        var count = 0
        var fileSize = 0
        this.totalFiles = files.length
        if (this.totalFiles > 0) {
          this.filesLoaded = true
        }
        for (var i = 0; i < files.length; i++) {
          count++
          this.fileData.append('input_name[]', files[i])
          fileSize = files[i].size / 1000
          this.totalFileSize += fileSize
          var langName = this.languages.filter(function (name) {
            return name.trim() === files[i].name.split(' ')[2].trim()
          })

          // console.log('languageName', ':' + langName[0] + ':')
          if (langName[0]) {
            this.validFiles.push(files[i])
            this.validTranslations.push({ fileName: files[i].name, language: langName[0], month: this.month, year: this.year, docType: this.docType, dataURL: this.filePath + files[i].name })
            this.translationDataSet.push({ fileName: files[i].name, language: langName[0], month: this.month, year: this.year, docType: this.docType, dataURL: this.filePath + files[i].name })
          } else {
            this.rejectedFiles.push({ number: count, name: files[i].name })
          }
        }
        // console.log('Valid Files', this.validFiles)
        for (var k = 0; k < files.length; k++) {
          const fileReader = new FileReader()
          fileReader.addEventListener('load', () => {
            this.images.push({ base64: fileReader.result })
          })
          fileReader.readAsDataURL(files[k])
        }
        this.validFiles = files
        // this.files = this.fileData.getAll('input_name[]')
        // this.myFunction();
      },
      // upload () {
      //   this.progress = 0
      //
      //   // this.currentFile = this.selectedFiles.item(0)
      //   UploadService.upload(this.validFiles, event => {
      //     this.progress = Math.round((100 * event.loaded) / event.total)
      //   })
      //     .then(response => {
      //       this.message = response.data.message
      //       return UploadService.getFiles()
      //     })
      //     .then(files => {
      //       this.fileInfos = files.data
      //     })
      //     .catch(() => {
      //       this.progress = 0
      //       this.message = 'Could not upload the file!'
      //       this.currentFile = undefined
      //     })
      //   this.selectedFiles = undefined
      // },
    },
  }
</script>
