<template>
<mdb-container
  id="dashboard"
  fluid
  tag="section"
  >
<mdb-row>
<mdb-col>
  <v-card
    class="mx-auto text-center"
    color="green"
    dark
    max-width="600"
  >
  <b-btn
  pill
  variant="info"
  outline="white"
  size="md"
   icon="clone"
   @click="$emit('changeComponent', {component: 'Translationview', data: null})"
   >View Translations</b-btn>
  </v-card>
  </mdb-col>
  </mdb-row>
  </mdb-container>
</template>

<script>
  export default {
    data: () => ({
      value: [
        423,
        446,
        675,
        510,
        590,
        610,
        760,
      ],
    }),
  }
</script>
