<template>
  <v-container>
    <b-btn
        pill
        variant="info"
       outline="white"
        size="md"
         icon="clone"
         @click="$emit('changeComponent', {component: 'NewTranslationView', data: null})"
         >Back To Translations</b-btn>
  <v-row>
    <v-col>
  <v-card class="d-inline-block mx-auto">
    <v-container>
      <v-row justify="space-between">
        <v-col cols="auto">
          <v-img
            height="100"
            width="100"
            src="@/assets/ror.jpeg"
          ></v-img>
          <strong> Language: </strong> {{translationData.language}}
          <br>
          <strong>Month: </strong> {{translationData.month}}
          <br>
          <strong>Year: </strong> {{translationData.year}}
          <br>
          <strong>Document Type: </strong> {{translationData.docType}}
          <br>
        </v-col>
        <v-col
          cols="auto"
          class="text-center pl-0"
        >
          <v-row
            class="flex-column ma-0 fill-height"
            justify="center"
          >
            <v-col class="px-0">
              <v-btn icon>
                <ShareNetwork
                  network="facebook"
                  :url="getDownloadUrl"
                >
                <a
                 class="fb-ic mr-3"
                  role="button"
                  ><mdb-icon
                   fab
                    icon="facebook-f"
                     size="lg"
                      /></a>
              </ShareNetwork>
              </v-btn>
            </v-col>

            <v-col class="px-0">
              <v-btn icon>
                <ShareNetwork
                  network="twitter"
                  :url="getDownloadUrl"
                  title="Rhapsody of Reality Free download."
                  description="This Month, I’d like to introduce you the new monthly edition of rhapsody of reality"
                  quote="This Month, I’d like to introduce you the new monthly edition of rhapsody of reality"
                >
                <a
                 class="tw-ic mr-3"
                  role="button"
                  ><mdb-icon
                   fab
                    icon="twitter"
                     size="lg"
                      /></a>
              </ShareNetwork>
              </v-btn>
            </v-col>

            <v-col>
              <v-btn icon>
                <ShareNetwork
                  network="telegram"
                  :url="getDownloadUrl"
                  title="Rhapsody of Reality Free download."
                  description="This Month, I’d like to introduce you the new monthly edition of rhapsody of reality"
                  quote="This Month, I’d like to introduce you the new monthly edition of rhapsody of reality"
                >
                <a
                 class="git-ic mr-3"
                  role="button"
                  ><mdb-icon
                   fab
                    icon="github"
                     size="lg"
                      /></a>
              </ShareNetwork>
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
    </v-col>
  </v-row>
  </v-container>
</template>

<script>
  export default {
    // mounted () {
    //   this.trimUrl()
    // },
    computed: {
      getDistLink: () => {
        return localStorage.distLink
      },
      getDownloadUrl () {
        return 'https://downloads.tniglobal.org/dist/download' + this.getDistLink + '?q=' + this.translationData.id
      },
    },
    props: ['translationData'],
    methods: {
      trimUrl () {
        this.translationData.dataURL.replace(/ +(?= )/g, '')
        return this.translationData.dataURL
      },
    },
  }
</script>
