<template>
  <v-app id="inspire">
  <mdb-navbar
     color="'secondary'"
      position="top"
       dark
        href="#"
        >
      <mdb-container>
        <mdb-navbar-toggler style="max-width: 1140px">
          <mdb-navbar-brand href="#"><img
           class="img-fluid"
           style="width: 70px"
           src="@/assets/tnilogo.png"
            alt="nav-brand"
            ><strong>TNI</strong></mdb-navbar-brand>
          <mdb-navbar-nav id="nav">
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             active
             >HOME</mdb-nav-item>
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             >ABOUT US</mdb-nav-item>
            <mdb-nav-item
             router-link
              to="/"
             waves-fixed
             >GALERY</mdb-nav-item>
            <mdb-nav-item
             router-link
              to="/"
              waves-fixed
             >TESTIMONIALS</mdb-nav-item>
          </mdb-navbar-nav>
          <!--Search form -->
          <!--/.Search form -->
        </mdb-navbar-toggler>
      </mdb-container>
    </mdb-navbar>
    <v-content>
  <div class="container">
    <div class="large-12 medium-12 small-12 cell">
      <label>File
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
      </label>
        <button v-on:click="submitFile()">Submit</button>
    </div>
  </div>
    </v-content>
  </v-app>
</template>

<script>
  export default {

  }
</script>

<style>

</style>
