<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      class="light-blue lighten-4"
    >
      <v-list
       dense
       >
      <v-list-item>
        <v-list-item-avatar
          class="align-self-center"
          color="white"
          contain
        >
          <v-img
            src="@/assets/tnilogo.png"
            max-height="40"
          />
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title
            class="display-0"
            ><h2> TNI </h2></v-list-item-title>
        </v-list-item-content>
      </v-list-item>
       <v-divider class="mb-2" />
        <v-list-item
        router-link
          to="/login"
          >
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mb-1" />
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mb-1" />
        <v-list-item
        router-link
          to="/distdown"
          >
          <v-list-item-action>
            <v-icon>mdi-file-download</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Translations</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mb-1" />
        <v-list-item
        router-link
          to=""
        >
          <v-list-item-action>
            <v-icon>mdi-format-font</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Downloads</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mb-1" />
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="indigo"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Distributor's Dashboard</v-toolbar-title>
    </v-app-bar>
    <v-divider class="mb-1" />

    <v-content>
      <h4
       class="h1-responsive text-dark font-weight-bold"
      > Welcome, {{ getUsername }}</h4>

      <div>
      <b-card no-body>
       <b-tabs card>
         <b-tab
          title="HOME"
           active
           >
          <dist-link-card />

          <mdb-card>
  <mdb-card-body>
    <mdb-card-title>DOWNLOADS</mdb-card-title>
    <mdb-card-text>Total Shared Downloads</mdb-card-text>
    <mdb-list-group horizontal>
  <mdb-list-group-item :action="true">{{downloadCount}}</mdb-list-group-item>
</mdb-list-group>
  </mdb-card-body>
  </mdb-card>
       </b-tab>
        <b-tab title="STATISTICS">
          <chart-card />
        </b-tab>
      </b-tabs>
      </b-card>
      </div>
    </v-content>
    <v-footer
      color="indigo"
      app
      align="center"
    >
      <span
       align="center"
       class="white--text text-center"
       >&copy;{{ new Date().getFullYear() }} Translators Network International </span>
    </v-footer>
  </v-app>
</template>

<script>
  import login from '@/store/modules/login'
  export default {
    name: 'dashboard1',
    components: {
      ChartCard: () => import('@/dashboard1/components/ChartCard'),
      DistLinkCard: () => import('@/dashboard1/components/DistlinkCard'),
    },
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
    }),
    computed: {
      getUsername: () => {
        return localStorage.username
      },
      getEmail: () => {
        return login.state.email
      },
      downloadCount: () => {
        return localStorage.downloadCount
      },
    },
    mounted () {
      this.getDistributorData()
      if (localStorage.downloadCount) {
        this.downloadCount = localStorage.downloadCount
      }
      if (localStorage.distLink) {
        this.distLink = localStorage.distLink
      }
    },
    methods: {
      getDistributorData () {
        // /5f5263c028384c11c592ed7f
        // dataURL": "/public/media/pdf/August 2020 Kanum Inner.pdf
        const self = this
        this.axios.get(this.baseUrl + '/api/distributor/current/' + login.state.email)
          .then(response => {
            if (response.data) {
              localStorage.downloadCount = response.data.distributions.length
              localStorage.distLink = response.data.link
              this.downloadsCount = response.data.distributions.length
              self.$store.commit('setDistLink', response.data.link)
            }
            // JSON responses are automatically parsed.
          })
      },
    },
  }
</script>
