<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      class="light-blue lighten-4"
    >
    <v-list
     dense
     >
    <v-list-item>
      <v-list-item-avatar
        class="align-self-center"
        color="white"
        contain
      >
        <v-img
          src="@/assets/tnilogo.png"
          max-height="40"
        />
      </v-list-item-avatar>

      <v-list-item-content>
        <v-list-item-title
          class="display-0"
          ><h2> TNI </h2></v-list-item-title>
      </v-list-item-content>
    </v-list-item>
     <v-divider class="mb-2" />
      <v-list-item
      router-link
       to="/login"
       >
        <v-list-item-action>
          <v-icon>mdi-home</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Logout</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider class="mb-1" />
      <v-list-item
      router-link
       to="/teamlead"
       >
        <v-list-item-action>
          <v-icon>mdi-view-dashboard</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Dashboard</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider class="mb-1" />
      <v-list-item
      router-link
       to="/teamdist"
      >
        <v-list-item-action>
          <v-icon>mdi-clipboard-outline</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Distributors</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider class="mb-1" />
      <v-list-item
      router-link
       to="/teamdown"
      >
        <v-list-item-action>
          <v-icon>mdi-file-download</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Download</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider class="mb-1" />
      <v-list-item
      router-link
       to="/teamlang"
      >
        <v-list-item-action>
          <v-icon>mdi-format-font</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Languages</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider class="mb-1" />
    </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="indigo"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>TNI DOWNLOADS</v-toolbar-title>
    </v-app-bar>
    <v-divider class="mb-1" />

    <v-content>
      <v-container
      id="regular-table"
      fluid
      tag="section"
      >
      <component
        :is="currentComponent"
        :translation-data="currentTranslationData"
        @changeComponent="changeCurrentComponent"
      />
      </v-container>

    </v-content>
    <v-footer
      color="indigo"
      app
      align="center"
    >
      <span
       align="center"
       class="white--text text-center"
       >&copy;{{ new Date().getFullYear() }} Translators Network International </span>
    </v-footer>
  </v-app>
</template>

<script>
  import login from '@/store/modules/login'
  import NewTranslationView from '@/dashboard1/components/NewTranslationView'
  export default {
    components: {
      NewTranslationView,
    },
    data: () => ({
      drawer: null,
      selected: '',
      currentTranslationData: null,
      currentComponent: 'NewTranslationView',
    }),
    computed: {
      getUsername: () => {
        return login.state.username
      },
    },
    methods: {
      changeCurrentComponent (event) {
        // console.log('event', event)
        this.currentTranslationData = event.data
        this.currentComponent = event.component
      },
    },
  }
</script>
